# 过滤、丢弃空值、重复数据删除
使用 `data_08.csv` 和 `data_18.csv`  
* 过滤  
为保持一致性，仅比较加州认证的汽车。使用 query 过滤两个数据集，仅选择 cert_region 为 CA 的行。然后，删除 `cert_region' 列，因为它不再提供任何有用的信息（我们知道每个值都是 'CA'）。

* 丢空  
删除两个数据集中包含缺失值的任何行。

* 去重  
删除两个数据集中的任何重复行。 练习提示

本课程中涉及的练习题中的原始数据是前一个练习题的输出(to_csv的文件)。你需要将上个练习题的数据下载下来，然后上传到下一个练习题的workspace中。因为每个练习题中的workspace是相互独立的。（后面的练习题同理）  

保存去重后的数据：data_08_duplicated

In [117]:
# 加载数据集
import pandas as pd
df_08 = pd.read_csv('data_08.csv')
df_18 = pd.read_csv('data_18.csv')

In [118]:
# 查看数据集维度
df_08.shape

(2404, 14)

In [119]:
# 查看数据集维度
df_18.shape

(1611, 14)

## 一 按认证区域过滤

In [110]:
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

** 过滤方式1：使用boolean expr **

In [120]:
# 过滤满足加州标准的行的数据集
# df_08 = df_08.query('cert_region=CA')
df_08=df_08[df_08['cert_region']=='CA']
# df_08.head()
df_18 = df_18[df_18['cert_region']=='CA']

** 过滤方式2：使用query **

In [121]:
df_08=df_08.query('cert_region=="CA"')
df_18=df_18.query('cert_region=="CA"')

In [122]:
# 确定唯一的认证区域是加州
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [114]:
# 将认证区域列从两个数据集中丢弃
df_08.drop(['cert_region'],axis=1,inplace=True)
df_18.drop(['cert_region'],axis=1,inplace=True)

In [103]:
# 确定唯一的认证区域是加州
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [123]:
_ = df_08.pop('cert_region')
_ = df_18.pop('cert_region')

In [124]:
df_08.shape

(1084, 13)

In [125]:
df_18.shape

(798, 13)

## 二 丢弃含有缺失值的行

In [26]:
# 查看 2008 年每个特征的缺失值数量
df_08.count()

model                   1084
displ                   1084
cyl                     1009
trans                   1009
drive                   1047
fuel                    1084
veh_class               1084
air_pollution_score     1084
city_mpg                1009
hwy_mpg                 1009
cmb_mpg                 1009
greenhouse_gas_score    1009
smartway                1084
dtype: int64

In [32]:
# df_08.count(axis=1)
# 此种方式不行
df_08[df_08.isnull()].count()

model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [126]:
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [127]:
# 查看 2018 年每个特征的缺失值数量
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [128]:
# 丢弃两个数据集中有任何空值的行
df_08.dropna(inplace=True)
df_18.dropna(inplace=True)

In [129]:
# 检查 2008 年的任何列是否有空值 - 应打印为“假”
df_08.isnull().sum().any()

False

In [130]:
# 检查 2018 年的任何列是否有空值 - 应打印为“假”
df_18.isnull().sum().any()

False

## 三 重复数据删除

In [131]:
# 打印 2008 年和 2018 年数据集的重复数量
print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

23
3

In [132]:
df_08.shape

(1009, 13)

In [133]:
df_18.shape

(797, 13)

In [134]:
# 丢弃两个数据集中的重复数据
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [135]:
print(df_08.shape)
print(df_18.shape)

(986, 13)
(794, 13)

In [136]:
# 再次打印重复数量，确认重复数据已删除——均应为 0 
print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

0
0

In [55]:
# 保存进度，以便下一段使用
df_08.to_csv('data_08_duplicated.csv', index=False)
df_18.to_csv('data_18_duplicated.csv', index=False)

In [90]:
df_08.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no
6,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,CA,midsize car,7,18,26,21,6,yes
7,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,CA,midsize car,7,17,26,20,6,yes

In [94]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 986 entries, 0 to 2400
Data columns (total 14 columns):
model                   986 non-null object
displ                   986 non-null float64
cyl                     986 non-null object
trans                   986 non-null object
drive                   986 non-null object
fuel                    986 non-null object
cert_region             986 non-null object
veh_class               986 non-null object
air_pollution_score     986 non-null object
city_mpg                986 non-null object
hwy_mpg                 986 non-null object
cmb_mpg                 986 non-null object
greenhouse_gas_score    986 non-null object
smartway                986 non-null object
dtypes: float64(1), object(13)
memory usage: 115.5+ KB

In [91]:
df_18.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,23,5,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,small SUV,3,19,27,22,4,No
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,23,33,27,6,No
6,ACURA TLX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,small car,3,20,32,24,5,No
8,ACURA TLX,3.5,6.0,SemiAuto-9,4WD,Gasoline,CA,small car,3,21,30,24,5,No

In [95]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 794 entries, 1 to 1609
Data columns (total 14 columns):
model                   794 non-null object
displ                   794 non-null float64
cyl                     794 non-null float64
trans                   794 non-null object
drive                   794 non-null object
fuel                    794 non-null object
cert_region             794 non-null object
veh_class               794 non-null object
air_pollution_score     794 non-null int64
city_mpg                794 non-null object
hwy_mpg                 794 non-null object
cmb_mpg                 794 non-null object
greenhouse_gas_score    794 non-null int64
smartway                794 non-null object
dtypes: float64(2), int64(2), object(10)
memory usage: 93.0+ KB

下面需要做的一些修改：  
* 将df_08中的cLy列的字符串中提取整型值，从df_18的cly列中浮点型转换为整型；  
* 对于air_pollution_score，将df_08中的字符串转换为float，将df_18中的整型转换成float  
* 对于两个df，将city_mpg，hwy_mpg，cmb_mpg均需转换为float类型  
* 将08的greenhouse_gas_score转换为整型