## 修正 `city_mpg`、`hwy_mpg`、`cmb_mpg` 数据类型
    2008 和 2018：将字符串转换成浮点

In [20]:
# 加载数据集
import pandas as pd
df_08 = pd.read_csv('data_08_convert_part2.csv')
df_18 = pd.read_csv('data_18_convert_part2.csv')

In [21]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 13 columns):
model                   987 non-null object
displ                   987 non-null float64
cyl                     987 non-null int64
trans                   987 non-null object
drive                   987 non-null object
fuel                    987 non-null object
veh_class               987 non-null object
air_pollution_score     987 non-null float64
city_mpg                987 non-null int64
hwy_mpg                 987 non-null int64
cmb_mpg                 987 non-null int64
greenhouse_gas_score    987 non-null int64
smartway                987 non-null object
dtypes: float64(2), int64(5), object(6)
memory usage: 100.3+ KB

### 一、修正所有'_mpg'的列转换为float

In [22]:
# 将 mpg 列转换成浮点
mpg_columns = ['city_mpg','hwy_mpg','cmb_mpg']
for c in mpg_columns:
    df_18[c] = df_18[c].astype(float)
    df_08[c] = df_08[c].astype(float)

In [23]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832 entries, 0 to 831
Data columns (total 13 columns):
model                   832 non-null object
displ                   832 non-null float64
cyl                     832 non-null float64
trans                   832 non-null object
drive                   832 non-null object
fuel                    832 non-null object
veh_class               832 non-null object
air_pollution_score     832 non-null float64
city_mpg                832 non-null float64
hwy_mpg                 832 non-null float64
cmb_mpg                 832 non-null float64
greenhouse_gas_score    832 non-null int64
smartway                832 non-null object
dtypes: float64(6), int64(1), object(6)
memory usage: 84.6+ KB

In [24]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 13 columns):
model                   987 non-null object
displ                   987 non-null float64
cyl                     987 non-null int64
trans                   987 non-null object
drive                   987 non-null object
fuel                    987 non-null object
veh_class               987 non-null object
air_pollution_score     987 non-null float64
city_mpg                987 non-null float64
hwy_mpg                 987 non-null float64
cmb_mpg                 987 non-null float64
greenhouse_gas_score    987 non-null int64
smartway                987 non-null object
dtypes: float64(5), int64(2), object(6)
memory usage: 100.3+ KB

## 修正 `greenhouse_gas_score` 数据类型
    2008：将浮点转换成整数

In [25]:
# 将浮点转换成整数
df_08['greenhouse_gas_score'] = df_08['greenhouse_gas_score'].astype(float)

In [26]:
df_18['greenhouse_gas_score']=df_18['greenhouse_gas_score'].astype(float)

## 所有数据类型现在都已修正！最后再检查一次，确认所有更改。

In [27]:
df_08.dtypes

model                    object
displ                   float64
cyl                       int64
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score     float64
city_mpg                float64
hwy_mpg                 float64
cmb_mpg                 float64
greenhouse_gas_score    float64
smartway                 object
dtype: object

In [28]:
df_18.dtypes

model                    object
displ                   float64
cyl                     float64
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score     float64
city_mpg                float64
hwy_mpg                 float64
cmb_mpg                 float64
greenhouse_gas_score    float64
smartway                 object
dtype: object

In [29]:
df_08.dtypes == df_18.dtypes

model                    True
displ                    True
cyl                     False
trans                    True
drive                    True
fuel                     True
veh_class                True
air_pollution_score      True
city_mpg                 True
hwy_mpg                  True
cmb_mpg                  True
greenhouse_gas_score     True
smartway                 True
dtype: bool

* 发现 `cyl` 与 `greenhous_gas_scorce` 数据类型两者还不一致

In [30]:
df_08.head(2)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4.0,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5.0,no

In [31]:
df_18.head(2)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3.0,20.0,28.0,23.0,5.0,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,small SUV,3.0,19.0,27.0,22.0,4.0,No

In [32]:
df_18['cyl']=df_18['cyl'].astype(int)

df_08.dtypes == df_18.dtypes

In [35]:
df_08.to_csv('clean_08.csv',index=False)
df_18.to_csv('clean_18.csv',index=False)