In [1]:
import pandas as pd

In [17]:
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']), 'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

In [7]:
type(items)

dict

In [8]:
shopping_carts=pd.DataFrame(items)

In [9]:
shopping_carts

         Alice    Bob
bike     500.0  245.0
book      40.0    NaN
glasses  110.0    NaN
pants     45.0   25.0
watch      NaN   55.0

In [10]:
shopping_carts.shape

(5, 2)

In [11]:
shopping_carts.ndim

2

In [12]:
shopping_carts.size

10

In [13]:
shopping_carts.values

array([[ 500.,  245.],
       [  40.,   nan],
       [ 110.,   nan],
       [  45.,   25.],
       [  nan,   55.]])

In [14]:
shopping_carts.index

Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

In [15]:
shopping_carts.columns

Index(['Alice', 'Bob'], dtype='object')

In [18]:
bob_shopping_cart=pd.DataFrame(items,columns=['Bob'])

In [19]:
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55

In [20]:
pd.DataFrame(items,index=['pants','book'])

       Alice   Bob
pants     45  25.0
book      40   NaN

In [21]:
pd.DataFrame(items,index=['glasses','bike'],columns=['Bob'])

           Bob
glasses    NaN
bike     245.0