### 1、简介

In [2]:
from pandas import Series,DataFrame
import numpy as np
import pandas as pd

### （1） Series实现创建multiindex

In [5]:
data=Series(np.random.randn(9),index=[['a','a','a','a','b','b','b','c','c',],[1,2,3,4,1,2,3,1,2]])
data

a  1   -1.000990
   2    1.417810
   3   -1.763032
   4   -0.421509
b  1   -0.067934
   2   -0.954522
   3   -1.975662
c  1    0.617941
   2   -0.700931
dtype: float64

In [6]:
data.index

MultiIndex(levels=[['a', 'b', 'c'], [1, 2, 3, 4]],
           labels=[[0, 0, 0, 0, 1, 1, 1, 2, 2], [0, 1, 2, 3, 0, 1, 2, 0, 1]])

选取子数据集

In [7]:
data['b']

1   -0.067934
2   -0.954522
3   -1.975662
dtype: float64

多索引支持切片索引

In [8]:
data['b':'c']

b  1   -0.067934
   2   -0.954522
   3   -1.975662
c  1    0.617941
   2   -0.700931
dtype: float64

可在内层进行索引  

获取第二层的所有的2

In [10]:
data[:,2]

a    1.417810
b   -0.954522
c   -0.700931
dtype: float64

#### 多索引可以轻易的进行重塑
由Series——>Dataframe  
使用unstack

In [18]:
data.unstack()

          1         2         3         4
a -1.000990  1.417810 -1.763032 -0.421509
b -0.067934 -0.954522 -1.975662       NaN
c  0.617941 -0.700931       NaN       NaN

由DataFrame->Series  
使用stack

In [19]:
data.unstack().stack()

a  1   -1.000990
   2    1.417810
   3   -1.763032
   4   -0.421509
b  1   -0.067934
   2   -0.954522
   3   -1.975662
c  1    0.617941
   2   -0.700931
dtype: float64

### （2）DataFrame实现多索引
#### 对x轴及y轴实现多索引

In [21]:
frame=DataFrame(np.arange(12).reshape((4,3)),
               index=[['a','a','b','b'],[1,2,1,2]],
               columns=[['北京','北京','天津'],['green','red','green']])
frame

       北京        天津
    green red green
a 1     0   1     2
  2     3   4     5
b 1     6   7     8
  2     9  10    11

为索引起别名

In [23]:
frame.index.names=['key1','key2']
frame.columns.names=['state','color']
frame

state        北京        天津
color     green red green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [24]:
frame['北京']

color      green  red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10