In [3]:
from pandas import Series,DataFrame
import numpy as np
import pandas as pd

### 一、read_csv/read_table
#### 讲数据读取为一个DataFrame

In [4]:
df=pd.read_csv('06/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

使用read_table，需要指定分隔符

In [5]:
pd.read_table('06/ex1.csv',sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
!cat 06/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

### 为数据指定标题
对于没有标题行的数据  
可以让pandas为其分配默认列名

In [7]:
pd.read_csv('06/ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

也可以自己定义列名

In [8]:
pd.read_csv('06/ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

将指定标题的列作为索引

In [9]:
names=['a','b','c','d','message']
# 将message列作为索引
pd.read_csv('06/ex2.csv',names=names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

#### 将多个列作为一个层次化索引

In [10]:
!cat 06/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [11]:
parsed=pd.read_csv('06/csv_mindex.csv',index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

#### 使用正则表达式匹配

In [12]:
result=pd.read_table('06/ex3.txt',sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [13]:
!cat 06/ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

#### 使用skiprows 跳过指定行

In [14]:
!cat 06/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [15]:
pd.read_csv('06/ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### 处理缺失值

In [16]:
!cat 06/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [17]:
result=pd.read_csv('06/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [18]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

#### 使用na_values 接受一组表示缺失值的字符串

In [19]:
result=pd.read_csv('06/ex5.csv',na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

使用字典为各列指定不同的NA标记

In [22]:
sentinels={'message':['foo','NA'],'something':['two']}
pd.read_csv('06/ex5.csv',na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### 二、逐块读取文本文件
  
  对于一个数据集中有很多数据的情况，可以分块读取  
  使用nrows，只读取几行

In [26]:
# 注意读取的该文件中有10000行数据
result=pd.read_csv('06/ex6.csv',nrows=5)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [28]:
chunker=pd.read_csv('06/ex6.csv',chunksize=1000)
chunker

In [42]:
# 不知为何在上面的代码块中定义的chunker在此处无法读取到
chunker=pd.read_csv('06/ex6.csv',chunksize=1000)
print(chunker)
tot=Series([])
for temp in chunker:
    #print(temp)
    tot=tot.add(piece['key'].value_counts(),fill_value=0)
#'Series' object has no attribute 'order'
#tot.order()
# 对Series进行排序
tot.sort_index() 
tot[:10]
#tot.tot.order()
#tot =tot.order(ascending=False)

<pandas.io.parsers.TextFileReader object at 0x109739668>

K    420.0
M    410.0
U    390.0
P    380.0
Y    380.0
E    350.0
R    340.0
Q    340.0
T    330.0
B    330.0
dtype: float64

### series中排序通过  
#### .sort_index按索引进行排序
#### .sort_values按值进行排序

### 三、将数据输出
#### 使用to_csv的方法进行输出

In [44]:
data=pd.read_csv('06/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [47]:
data.to_csv('06/myoutdata.csv')
out_data=pd.read_csv('06/myoutdata.csv')
out_data

   Unnamed: 0 something  a   b     c   d message
0           0       one  1   2   3.0   4     NaN
1           1       two  5   6   NaN   8   world
2           2     three  9  10  11.0  12     foo

#### 将输出的数据以什么分隔

In [50]:
import sys
data.to_csv('06/myoutdata.csv',sep='|')
out_data=pd.read_csv('06/myoutdata.csv')
out_data

  |something|a|b|c|d|message
0           0|one|1|2|3.0|4|
1         1|two|5|6||8|world
2   2|three|9|10|11.0|12|foo

#### 输出时自动填充缺失值为指定值

In [52]:
data.to_csv(sys.stdout,na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

#### 可以禁用行和列的标签

In [54]:
data.to_csv(sys.stdout,index=False,header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

#### 只显示一部分列

In [56]:
data.to_csv(sys.stdout,index=False,columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

#### Series读取csv文件

In [57]:
Series.from_csv('06/tseries.csv',parse_dates=True)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

### 四、手工处理分隔符格式

In [58]:
!cat 06/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [59]:
import csv

In [61]:
f=open('06/ex7.csv')
reader=csv.reader(f)
reader

In [63]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [64]:
lines=list(csv.reader(open('06/ex7.csv')))
header,values=lines[0],lines[1:]
values

[['1', '2', '3'], ['1', '2', '3', '4']]

zip函数接受任意多个（包括0个和1个）序列作为参数，返回一个tuple列表  
参数使用* 代表参数是一个元组  
两个** 代表参数是一个字典

In [71]:
zip(*values)
zip

zip

In [72]:
values

[['1', '2', '3'], ['1', '2', '3', '4']]

In [65]:
data_dict={h:v for h,v in zip(header,zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [73]:
data_dict={h:v for h,v in zip(header,values)}
data_dict

{'a': ['1', '2', '3'], 'b': ['1', '2', '3', '4']}