### 2 索引上的合并

In [2]:
from pandas import Series,DataFrame
import numpy as np
import pandas as pd

In [3]:
left1=DataFrame({'key':['a','b','a','a','b','c'],'value':range(6)})
left1

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5

In [5]:
right1=DataFrame({'group_val':[3.5,7]},index=['a','b'])
right1

   group_val
a        3.5
b        7.0

In [7]:
pd.merge(left1,right1,left_on='key',right_index=True)

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0

In [16]:
#pd.merge(left1,right1,left_on='key',right_index=False)
#合并左右两个DataFrame
# 左侧的DataFrame中用作连接键的列为key
# 将右侧的行索引用作其连接键
# 注意默认的merge是求连接键的交集
pd.merge(left1,right1,left_on='key',right_index=True)

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0

In [14]:
# 注意一下两种方式均会出错
#pd.merge(left1,right1)
#pd.merge(left1,right1,left_on='key',right_on='index')

In [18]:
# 注意与上式的区别是此处是求得并集
# left1中还有c
pd.merge(left1,right1,left_on='key',right_index=True,how='outer')

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0
5   c      5        NaN