In [1]:
from pandas import Series,DataFrame
import numpy as np
import pandas as pd

In [7]:
datetime_yesterday=np.arange(21,24).astype(str).tolist()

In [8]:
datetime_today=np.arange(0,21).astype(str).tolist()

In [9]:
# 气象时间list
meteorology_date=np.hstack((datetime_yesterday,datetime_today)).tolist()
meteorology_date.insert(0,'date')
meteorology_date.append('max')
meteorology_date.append('min')

In [10]:
meteorology_date

['date',
 '21',
 '22',
 '23',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 'max',
 'min']

In [13]:
result_vb= pd.read_table('data/at1129.07422',sep='\s+',names=meteorology_date)
result_vb

,date,21,22,23,0,1,2,3,4,5,...,13,14,15,16,17,18,19,20,max,min
0,20171129,18.9,17.5,17.5,17.3,16.9,16.5,16.5,16.0,15.9,...,13.2,13.3,999.8,999.8,999.8,999.8,999.8,999.8,19.8,13.1

In [21]:
result_at= pd.read_table('data/AT0507.11754',sep='\s+',names=meteorology_date)
result_at
result_at.empty

True

In [20]:
f = open('data/AT0507.11754')
result_at= pd.read_table(f ,sep='\s+',names=meteorology_date)
result_at

Empty DataFrame
Columns: [date, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, max, min]
Index: []

[0 rows x 27 columns]