In [1]:
import pandas as pd

** 项目概述 **

包括加载数据集并根据指定月份和星期名进行筛选。  
在下面的测试中，你将实现 load_data() 函数，你也可以直接在项目中使用这个函数。共有以下四个步骤：  

    加载指定城市的数据集。索引 global CITY_DATA 字典对象来获取指定城市名对应的文件名。  
    创建 month 以及 day_of_week 列。将 "Start Time" 列转换为 datetime，并使用 datetime 模块分列提取 month number（月份数）和 weekday name （星期名）。  
    根据月份筛选。由于 month 参数是以月份名称给出的，你首先需要将其转换为对应的月份数字。接着，选择包含指定月份的 dataframe 行，并重新为 dataframe 赋值。  
    根据星期名筛选。选择包含指定星期名的 dataframe 行，并重新为其分配 dataframe。  （注意：请使用 title() 方法将 day 参数首字母大写，与 day_of_week 列中使用的首字母大写对应。）

In [2]:
filename = 'chicago.csv'

# load data file into a dataframe
df = pd.read_csv(filename)

In [5]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-05-29 18:36:27,2017-05-29 18:49:27,780,Columbus Dr & Randolph St,Federal St & Polk St,Subscriber,Male,1991.0
1,2017-06-12 19:00:33,2017-06-12 19:24:22,1429,Kingsbury St & Erie St,Orleans St & Merchandise Mart Plaza,Customer,NaN,NaN
2,2017-02-13 17:02:02,2017-02-13 17:20:10,1088,Canal St & Madison St,Paulina Ave & North Ave,Subscriber,Female,1982.0
3,2017-04-24 18:39:45,2017-04-24 18:54:59,914,Spaulding Ave & Armitage Ave,California Ave & Milwaukee Ave,Subscriber,Male,1966.0
4,2017-01-26 15:36:07,2017-01-26 15:43:21,434,Clark St & Randolph St,Financial Pl & Congress Pkwy,Subscriber,Female,1983.0

In [6]:
import pandas as pd
import datetime

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [8]:
df['Start Time'].head()

0    2017-05-29 18:36:27
1    2017-06-12 19:00:33
2    2017-02-13 17:02:02
3    2017-04-24 18:39:45
4    2017-01-26 15:36:07
Name: Start Time, dtype: object

In [9]:
df['Start Time'][0]

'2017-05-29 18:36:27'

In [11]:
type(df['Start Time'][0])

str

** 将时间转为datetime **

In [15]:
dt_target=datetime.datetime.strptime(df['Start Time'][0],'%Y-%m-%d %H:%M:%S')
dt_target

datetime.datetime(2017, 5, 29, 18, 36, 27)

In [13]:
df['Start Time'][0]

'2017-05-29 18:36:27'

In [19]:
type(df['Start Time'][0])

str

** 使用pd.to_datetime将str类型的dt转成timestamp**

In [18]:
pd.to_datetime(df['Start Time'][0])

Timestamp('2017-05-29 18:36:27')

In [ ]:
def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - pandas DataFrame containing city data filtered by month and day
    """
    
    # load data file into a dataframe
    # 从字典中根据key获取对应的城市名称（value）
    df_name=CITY_DATA[city]
    df = pd.read_csv(df_name)

    # convert the Start Time column to datetime
    # 将Start Time重新赋值为timestamp格式
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = 
    df['day_of_week'] = 


    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = 
    
        # filter by month to create the new dataframe
        df = 

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = 
    
    return df
    
df = load_data('chicago', 'march', 'friday')