### 索引对象

In [1]:
from pandas import Series,DataFrame
import pandas as pd

In [2]:
# 使用Series需要加入pandas库中的Series
obj=Series(range(3),index=['a','b','c'])
index=obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [3]:
index[1]

'b'

In [4]:
index[1]='ss'

TypeError: Index does not support mutable operations

In [8]:
data={'state':['ok','error','finish'],
     'code':[1,2,3],
      'name':['a1','b2','c3']
     }
frame3=DataFrame(data)
frame3

   code name   state
0     1   a1      ok
1     2   b2   error
2     3   c3  finish

In [9]:
3 in frame3.index

False