In [1]:
from pandas import Series,DataFrame
import numpy as np
import pandas as pd

## 两个dataframe之间的相互操作
* 注意，当两个df之间相加时，若其中一个均为NaN则相加的结果均为NaN

In [15]:
df1=pd.DataFrame(np.arange(16).reshape((4,4)),index=[1,2,3,4],columns=['a','b','c','d'])

In [16]:
df1

    a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [17]:
df2=pd.DataFrame(index=[1,2,3,4],columns=['a','b','c','d'])
df2

     a    b    c    d
1  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN

In [18]:
df3=pd.DataFrame(np.arange(4),index=[1,2,3,4],columns=['a'])
df3

   a
1  0
2  1
3  2
4  3

In [19]:
df1+df2

     a    b    c    d
1  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN

In [20]:
df2.combine_first(df3)

   a   b   c   d
1  0 NaN NaN NaN
2  1 NaN NaN NaN
3  2 NaN NaN NaN
4  3 NaN NaN NaN

---------------------------------------------------------------------------------------------

#### 先处理所有的NaN填充为0

In [9]:
df2=df2.fillna(0)
df2

   a  b  c  d
1  0  0  0  0
2  0  0  0  0
3  0  0  0  0
4  0  0  0  0

再相加

In [61]:
df2=df2+df3
df2

   a   b   c   d
1  0 NaN NaN NaN
2  1 NaN NaN NaN
3  2 NaN NaN NaN
4  3 NaN NaN NaN

In [10]:
df4=pd.DataFrame(np.arange(4),index=[1,2,3,4],columns=['b'])
df4

   b
1  0
2  1
3  2
4  3

In [63]:
df2+df4

    a   b   c   d
1 NaN NaN NaN NaN
2 NaN NaN NaN NaN
3 NaN NaN NaN NaN
4 NaN NaN NaN NaN

In [64]:
df2=df2.fillna(0)

In [65]:
df2

   a    b    c    d
1  0  0.0  0.0  0.0
2  1  0.0  0.0  0.0
3  2  0.0  0.0  0.0
4  3  0.0  0.0  0.0

In [66]:
df4['a']=0

In [67]:
df4

   b  a
1  0  0
2  1  0
3  2  0
4  3  0

In [41]:
df2+df4

    a    b   c   d
1 NaN  0.0 NaN NaN
2 NaN  1.0 NaN NaN
3 NaN  2.0 NaN NaN
4 NaN  3.0 NaN NaN

In [12]:
df2

   a  b  c  d
1  0  0  0  0
2  0  0  0  0
3  0  0  0  0
4  0  0  0  0

In [13]:
df4

   b
1  0
2  1
3  2
4  3

In [14]:
df2.combine_first(df4)

   a  b  c  d
1  0  0  0  0
2  0  0  0  0
3  0  0  0  0
4  0  0  0  0

In [68]:
pd.merge(df2,df4,left_index=True,right_index=True,on='a')

   a  b_x    c    d  b_y
1  0  0.0  0.0  0.0    0
2  1  0.0  0.0  0.0    1
3  2  0.0  0.0  0.0    2
4  3  0.0  0.0  0.0    3

In [70]:
pd.merge(df2,df4,on='a')

   a  b_x    c    d  b_y
0  0  0.0  0.0  0.0    0
1  0  0.0  0.0  0.0    1
2  0  0.0  0.0  0.0    2
3  0  0.0  0.0  0.0    3

In [46]:
df2.add(df4,axis=0)

    a    b   c   d
1 NaN  0.0 NaN NaN
2 NaN  1.0 NaN NaN
3 NaN  2.0 NaN NaN
4 NaN  3.0 NaN NaN

### 2 数据合并