In [63]:
from pandas import Series,DataFrame
import numpy as np
import pandas as pd

In [64]:
#设置没有header
result= pd.read_table('data/test.07422',sep='\s+',header=None)
result

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,20171129,1014.1,1014.2,1013.8,1013.9,1013.9,1013.5,1013.4,1013.8,1013.7,...,1014.0,1013.5,9999.8,9999.8,9999.8,9999.8,9999.8,9999.8,1015.6,1013.2

### 1 添加一个header
#### 总共27列，第一列为日期，最后两列为当日最大值与当日最小值

In [65]:
#arr_temp=np.empty(27)
#arr_temp[0]='date'
arr_temp=np.arange(24).tolist()
#.tolist()
arr_str=[str(i) for i in arr_temp]
arr_str

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23']

In [66]:
#arr_final=['date']
#arr_final.insert(1,arr_temp)

# python中向list中的指定位置插入数据使用insert
# python向list的末尾追加使用append
# 可使用extend向一个list追加一个list
arr_str.insert(0,'date')
arr_str.append('max')
arr_str.append('min')
print(arr_str)

['date', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', 'max', 'min']

### 2 指定names——列索引的名字

In [71]:
#arr_str.insert(0,'date')
#arr_str.append('max')
#arr_str.append('min')
#print(arr_str)
print(arr_str)
#result= pd.read_table('data/test.07422',sep='\s+',header=arr_str)
result= pd.read_table('data/test.07422',sep='\s+',names=arr_str)
result

['date', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', 'max', 'min']

,date,0,1,2,3,4,5,6,7,8,...,16,17,18,19,20,21,22,23,max,min
0,20171129,1014.1,1014.2,1013.8,1013.9,1013.9,1013.5,1013.4,1013.8,1013.7,...,1014.0,1013.5,9999.8,9999.8,9999.8,9999.8,9999.8,9999.8,1015.6,1013.2