In [26]:
from pandas import Series,DataFrame
import numpy as np
import pandas as pd

### 1 添加一个header
#### 总共27列，第一列为日期，最后两列为当日最大值与当日最小值

In [27]:
#arr_temp=np.empty(27)
#arr_temp[0]='date'
arr_temp=np.arange(24).tolist()
arr_str=[temp.zfill(2) for temp in np.arange(24).astype(str).tolist()]
#print(arr_temp1)
#.tolist()
#arr_str=[str(i) for i in arr_temp]
#arr_str

In [28]:
#arr_final=['date']
#arr_final.insert(1,arr_temp)

# python中向list中的指定位置插入数据使用insert
# python向list的末尾追加使用append
# 可使用extend向一个list追加一个list
arr_str.insert(0,'date')
arr_str.append('max')
arr_str.append('min')
print(arr_str)

['date', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', 'max', 'min']

### 2 指定names——列索引的名字  
### 方式（一）
#### 2.1所有的水文要素都是从00-23点的数据
#### 常规格式的水文要素有：wt和sl

In [29]:
#arr_str.insert(0,'date')
#arr_str.append('max')
#arr_str.append('min')
#print(arr_str)
print(arr_str)
#result= pd.read_table('data/test.07422',sep='\s+',header=arr_str)
result_wt= pd.read_table('data/wt1129.07422',sep='\s+',names=arr_str)
result_wt

['date', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', 'max', 'min']

,date,00,01,02,03,04,05,06,07,08,...,16,17,18,19,20,21,22,23,max,min
0,20171129,17.0,17.0,16.9,16.9,16.9,16.9,16.9,16.8,16.8,...,999.8,999.8,999.8,999.8,999.8,999.8,999.8,999.8,17.0,16.7

### 方式（二）
#### columns改为 yyyyMMddHH

获取当日时间，生成当日00-23点的时间序列

In [30]:
# from datetime import datetime
# from datetime import timedelta
# now=datetime.now()
# print(now)
# now+timedelta(12)

#### 1-1获取起始及终止时间

In [31]:
from datetime import datetime
from datetime import timedelta
#import datetime
date_str='2017-11-29'
#date_target=datetime.datetime.strptime(date_str,'%Y-%m-%d')
date_target=datetime.strptime(date_str,'%Y-%m-%d')
print(date_target)
#date_end=date_target+datetime.timedelta(hours=24)
date_end=date_target+timedelta(hours=23)
print(date_end)

2017-11-29 00:00:00
2017-11-29 23:00:00

#### 1-2 生成起始及终止时间范围内的时间序列
#### 实现方式A：

In [32]:
date_list=pd.date_range(date_target,date_end,freq='H')
date_list

DatetimeIndex(['2017-11-29 00:00:00', '2017-11-29 01:00:00',
               '2017-11-29 02:00:00', '2017-11-29 03:00:00',
               '2017-11-29 04:00:00', '2017-11-29 05:00:00',
               '2017-11-29 06:00:00', '2017-11-29 07:00:00',
               '2017-11-29 08:00:00', '2017-11-29 09:00:00',
               '2017-11-29 10:00:00', '2017-11-29 11:00:00',
               '2017-11-29 12:00:00', '2017-11-29 13:00:00',
               '2017-11-29 14:00:00', '2017-11-29 15:00:00',
               '2017-11-29 16:00:00', '2017-11-29 17:00:00',
               '2017-11-29 18:00:00', '2017-11-29 19:00:00',
               '2017-11-29 20:00:00', '2017-11-29 21:00:00',
               '2017-11-29 22:00:00', '2017-11-29 23:00:00'],
              dtype='datetime64[ns]', freq='H')

#### 实现方式B：

In [33]:
date_list_b=pd.date_range(date_target,periods=24,freq='H')
date_list_b

DatetimeIndex(['2017-11-29 00:00:00', '2017-11-29 01:00:00',
               '2017-11-29 02:00:00', '2017-11-29 03:00:00',
               '2017-11-29 04:00:00', '2017-11-29 05:00:00',
               '2017-11-29 06:00:00', '2017-11-29 07:00:00',
               '2017-11-29 08:00:00', '2017-11-29 09:00:00',
               '2017-11-29 10:00:00', '2017-11-29 11:00:00',
               '2017-11-29 12:00:00', '2017-11-29 13:00:00',
               '2017-11-29 14:00:00', '2017-11-29 15:00:00',
               '2017-11-29 16:00:00', '2017-11-29 17:00:00',
               '2017-11-29 18:00:00', '2017-11-29 19:00:00',
               '2017-11-29 20:00:00', '2017-11-29 21:00:00',
               '2017-11-29 22:00:00', '2017-11-29 23:00:00'],
              dtype='datetime64[ns]', freq='H')

#### 1-3 去掉读取中的dataframe的date列

In [34]:
result_wt

,date,00,01,02,03,04,05,06,07,08,...,16,17,18,19,20,21,22,23,max,min
0,20171129,17.0,17.0,16.9,16.9,16.9,16.9,16.9,16.8,16.8,...,999.8,999.8,999.8,999.8,999.8,999.8,999.8,999.8,17.0,16.7

In [35]:
del result_wt['date']

#### 1-4 转置

In [36]:
result_wt=result_wt.T
result_wt.head(10)

       0
00  17.0
01  17.0
02  16.9
03  16.9
04  16.9
05  16.9
06  16.9
07  16.8
08  16.8
09  16.8

#### 1-5 切片，获取0-23点的数据，去掉min与max值

In [37]:
result_wt=result_wt[:-2]
result_wt.head(10)

       0
00  17.0
01  17.0
02  16.9
03  16.9
04  16.9
05  16.9
06  16.9
07  16.8
08  16.8
09  16.8

#### 1-6 对df的index赋值
* 注意此处对dataframe的index赋值，可以通过dataframe对象.index赋值的方式来改变已有的dataframe的index

In [38]:
# result_wt_b=pd.DataFrame(result_wt[0],index=date_list_b)
# result_wt_b
result_wt.index=date_list_b
result_wt.columns=['wt']
result_wt.head(10)

                       wt
2017-11-29 00:00:00  17.0
2017-11-29 01:00:00  17.0
2017-11-29 02:00:00  16.9
2017-11-29 03:00:00  16.9
2017-11-29 04:00:00  16.9
2017-11-29 05:00:00  16.9
2017-11-29 06:00:00  16.9
2017-11-29 07:00:00  16.8
2017-11-29 08:00:00  16.8
2017-11-29 09:00:00  16.8

#### 1-7 放入df中

In [39]:
from dateutil.parser import parse
import datetime
from dateutil.parser import parse

columns=['dt','wt','sl','wl','at','bp','rn','vb','hu','wd','ws']

* 当月起始日

In [40]:
start_datetime=datetime.datetime(2017,11,29,00)
start_datetime=datetime.date(start_datetime.year,start_datetime.month,1)  
start_datetime=parse(str(start_datetime))
start_datetime

datetime.datetime(2017, 11, 1, 0, 0)

* 当月终止日

In [41]:
end_datetime=pd.date_range(start_datetime,periods=1,freq='M')[0]
#end_datetime=end_datetime[0]+ datetime.timedelta(minutes=-1)
str(end_datetime)
end_datetime=datetime.datetime(end_datetime.year,end_datetime.month,end_datetime.day,23,59)
end_datetime=parse(str(end_datetime))
end_datetime

datetime.datetime(2017, 11, 30, 23, 59)

* 生成时间序列

In [42]:
date_list=pd.date_range(start_datetime,end_datetime,freq='H')
date_list

DatetimeIndex(['2017-11-01 00:00:00', '2017-11-01 01:00:00',
               '2017-11-01 02:00:00', '2017-11-01 03:00:00',
               '2017-11-01 04:00:00', '2017-11-01 05:00:00',
               '2017-11-01 06:00:00', '2017-11-01 07:00:00',
               '2017-11-01 08:00:00', '2017-11-01 09:00:00',
               ...
               '2017-11-30 14:00:00', '2017-11-30 15:00:00',
               '2017-11-30 16:00:00', '2017-11-30 17:00:00',
               '2017-11-30 18:00:00', '2017-11-30 19:00:00',
               '2017-11-30 20:00:00', '2017-11-30 21:00:00',
               '2017-11-30 22:00:00', '2017-11-30 23:00:00'],
              dtype='datetime64[ns]', length=720, freq='H')

* 创建内容为Na的dataframe

In [43]:
df_all=pd.DataFrame(columns=columns,index=date_list)
df_all.head(10)

                      dt   wt   sl   wl   at   bp   rn   vb   hu   wd   ws
2017-11-01 00:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 01:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 02:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 03:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 04:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 05:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 06:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 07:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 08:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 09:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

* 将刚才的wt的结果写入
 > 若以左右两个dataframe的index作为合并的索引，注意需要指定left_index与right_index=true  
 > 此种方式合并完是一个交集

* 若两个dataframe相加，若两个对应列对应行的数据有一个为NaN，相加完就是NaN

### 使用combine_first  
可以实现两个df之间的合并

In [44]:
df_all=df_all.combine_first(result_wt)

In [45]:
df_all[-69:-23]

                     at  bp  dt  hu  rn  sl  vb  wd  wl  ws     wt
2017-11-28 03:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 04:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 05:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 06:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 07:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 08:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 09:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 10:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 11:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 12:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 13:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 14:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 15:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 16:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 17:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 18:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 19:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 20:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 21:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 22:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-28 23:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN
2017-11-29 00:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   17.0
2017-11-29 01:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   17.0
2017-11-29 02:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   16.9
2017-11-29 03:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   16.9
2017-11-29 04:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   16.9
2017-11-29 05:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   16.9
2017-11-29 06:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   16.9
2017-11-29 07:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   16.8
2017-11-29 08:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   16.8
2017-11-29 09:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   16.8
2017-11-29 10:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   16.8
2017-11-29 11:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   16.8
2017-11-29 12:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   16.8
2017-11-29 13:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   16.7
2017-11-29 14:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   16.7
2017-11-29 15:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  999.8
2017-11-29 16:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  999.8
2017-11-29 17:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  999.8
2017-11-29 18:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  999.8
2017-11-29 19:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  999.8
2017-11-29 20:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  999.8
2017-11-29 21:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  999.8
2017-11-29 22:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  999.8
2017-11-29 23:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  999.8
2017-11-30 00:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    NaN

* 使用此种方式合并后由于两个df均有wt列，所以会分别保留为wt_x与wt_y
> 使用how='outer'生成的是并集

In [98]:
df_parse=pd.merge(result_wt,df_all,left_index=True,right_index=True,how='outer')
df_parse[-30:-20]

,wt_x,dt,wt_y,sl,wl,at,bp,rn,vb,hu,wd,ws
2017-11-29 18:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 19:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 20:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 21:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 22:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 23:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

> 使用how='inner'生成的是交集

In [85]:
pd.merge(result_wt,df_all,left_index=True,right_index=True,how='inner')

,wt_x,dt,wt_y,sl,wl,at,bp,rn,vb,hu,wd,ws
2017-11-29 00:00:00,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 01:00:00,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 02:00:00,16.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 03:00:00,16.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 04:00:00,16.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 05:00:00,16.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 06:00:00,16.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 07:00:00,16.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 08:00:00,16.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 09:00:00,16.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 10:00:00,16.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 11:00:00,16.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 12:00:00,16.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 13:00:00,16.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 14:00:00,16.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 15:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 16:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 17:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 18:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 19:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 20:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 21:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 22:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 23:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* 使用pd.concat合并 会将df1的数据追加在df2的数据上
> 相当于做的是纵向叠加

In [74]:
pd.concat([result_wt,df_all])

                      at   bp   dt   hu   rn   sl   vb   wd   wl   ws     wt
2017-11-29 00:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   17.0
2017-11-29 01:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   17.0
2017-11-29 02:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   16.9
2017-11-29 03:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   16.9
2017-11-29 04:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   16.9
2017-11-29 05:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   16.9
2017-11-29 06:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   16.9
2017-11-29 07:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   16.8
2017-11-29 08:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   16.8
2017-11-29 09:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   16.8
2017-11-29 10:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   16.8
2017-11-29 11:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   16.8
2017-11-29 12:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   16.8
2017-11-29 13:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   16.7
2017-11-29 14:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   16.7
2017-11-29 15:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  999.8
2017-11-29 16:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  999.8
2017-11-29 17:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  999.8
2017-11-29 18:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  999.8
2017-11-29 19:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  999.8
2017-11-29 20:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  999.8
2017-11-29 21:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  999.8
2017-11-29 22:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  999.8
2017-11-29 23:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  999.8
2017-11-01 00:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-01 01:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-01 02:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-01 03:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-01 04:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-01 05:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
...                  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...
2017-11-29 18:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-29 19:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-29 20:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-29 21:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-29 22:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-29 23:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 00:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 01:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 02:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 03:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 04:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 05:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 06:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 07:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 08:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 09:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 10:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 11:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 12:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 13:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 14:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 15:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 16:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 17:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 18:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 19:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 20:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 21:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 22:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
2017-11-30 23:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN

[744 rows x 11 columns]

* 以上面这种方式读取盐度数据

In [46]:
# 读取整点文件
result_sl= pd.read_table('data/sl1129.07422',sep='\s+',names=arr_str)
# 删除date列
del result_sl['date']
# 转置
result_sl=result_sl.T
result_sl=result_sl[:-2]

In [48]:
result_sl.index=date_list_b
result_sl.columns=['sl']
result_sl

                         sl
2017-11-29 00:00:00  27.500
2017-11-29 01:00:00  27.500
2017-11-29 02:00:00  27.400
2017-11-29 03:00:00  27.400
2017-11-29 04:00:00  27.400
2017-11-29 05:00:00  27.400
2017-11-29 06:00:00  27.300
2017-11-29 07:00:00  27.200
2017-11-29 08:00:00  27.200
2017-11-29 09:00:00  27.200
2017-11-29 10:00:00  27.200
2017-11-29 11:00:00  27.300
2017-11-29 12:00:00  27.300
2017-11-29 13:00:00  27.300
2017-11-29 14:00:00  27.300
2017-11-29 15:00:00  99.998
2017-11-29 16:00:00  99.998
2017-11-29 17:00:00  99.998
2017-11-29 18:00:00  99.998
2017-11-29 19:00:00  99.998
2017-11-29 20:00:00  99.998
2017-11-29 21:00:00  99.998
2017-11-29 22:00:00  99.998
2017-11-29 23:00:00  99.998

In [49]:
df_all=df_all.combine_first(result_sl)

In [50]:
df_all

                     at  bp  dt  hu  rn      sl  vb  wd  wl  ws     wt
2017-11-01 00:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 01:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 02:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 03:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 04:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 05:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 06:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 07:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 08:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 09:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 10:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 11:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 12:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 13:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 14:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 15:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 16:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 17:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 18:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 19:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 20:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 21:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 22:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 23:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 00:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 01:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 02:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 03:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 04:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 05:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
...                  ..  ..  ..  ..  ..     ...  ..  ..  ..  ..    ...
2017-11-29 18:00:00 NaN NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-29 19:00:00 NaN NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-29 20:00:00 NaN NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-29 21:00:00 NaN NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-29 22:00:00 NaN NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-29 23:00:00 NaN NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-30 00:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 01:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 02:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 03:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 04:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 05:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 06:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 07:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 08:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 09:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 10:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 11:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 12:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 13:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 14:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 15:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 16:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 17:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 18:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 19:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 20:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 21:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 22:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 23:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN

[720 rows x 11 columns]

#### 2.2 所有的气象要素都是前一天21点-次日20点的数据
#### 常规格式的气象要素有：at  bp rn vb hu
#### 获取时间方式（一）

In [58]:
# 前一天的时间
#datetime_yesterday=[str(i) for i in np.arange(21,24).astype(str)tolist()]
datetime_yesterday=np.arange(21,24).astype(str).tolist()
datetime_yesterday

['21', '22', '23']

In [59]:
# 当日的时间
#datetime_today=[str(i) for i in np.arange(0,21).tolist()]
datetime_today=np.arange(0,21).astype(str).tolist()
#datetime_today

In [60]:
# 拼接成一起
header_fin=datetime_yesterday
header_fin.append(datetime_today)
#header_fin

In [61]:
yesterday=np.arange(21,24).astype(str)
today=np.arange(0,21).astype(str)
# 气象时间list
meteorology_date=np.hstack((yesterday,today)).tolist()
#meteorology_date

In [62]:
meteorology_date.insert(0,'date')
meteorology_date.append('max')
meteorology_date.append('min')
#meteorology_date

#### 获取时间方式（二）

In [52]:
from datetime import datetime
from datetime import timedelta

In [55]:
date_str='2017-11-29'
#date_target=datetime.datetime.strptime(date_str,'%Y-%m-%d')
# 2017-11-28 21:00
date_target=datetime.strptime(date_str,'%Y-%m-%d')+timedelta(hours=-3)
date_target

datetime.datetime(2017, 11, 28, 21, 0)

In [56]:
date_list_meteorology=pd.date_range(date_target,periods=24,freq='H')
date_list_meteorology

DatetimeIndex(['2017-11-28 21:00:00', '2017-11-28 22:00:00',
               '2017-11-28 23:00:00', '2017-11-29 00:00:00',
               '2017-11-29 01:00:00', '2017-11-29 02:00:00',
               '2017-11-29 03:00:00', '2017-11-29 04:00:00',
               '2017-11-29 05:00:00', '2017-11-29 06:00:00',
               '2017-11-29 07:00:00', '2017-11-29 08:00:00',
               '2017-11-29 09:00:00', '2017-11-29 10:00:00',
               '2017-11-29 11:00:00', '2017-11-29 12:00:00',
               '2017-11-29 13:00:00', '2017-11-29 14:00:00',
               '2017-11-29 15:00:00', '2017-11-29 16:00:00',
               '2017-11-29 17:00:00', '2017-11-29 18:00:00',
               '2017-11-29 19:00:00', '2017-11-29 20:00:00'],
              dtype='datetime64[ns]', freq='H')

#### （1）vb

In [66]:
result_vb= pd.read_table('data/vb1129.07422',sep='\s+',names=meteorology_date)
result_vb
#result_vb[0]

,date,21,22,23,0,1,2,3,4,5,...,13,14,15,16,17,18,19,20,max,min
0,20171129,6.5,5.6,6.9,5.8,6.8,5.1,5.7,5.3,6.7,...,2.9,2.5,99.8,99.8,99.8,99.8,99.8,99.8,NaN,NaN

In [67]:
# 删除date列
del result_vb['date']
# 转置
result_vb=result_vb.T
result_vb=result_vb[:-2] 
result_vb.index=date_list_meteorology
result_vb.columns=['vb']

In [69]:
df_all=df_all.combine_first(result_sl)

                       vb
2017-11-28 21:00:00   6.5
2017-11-28 22:00:00   5.6
2017-11-28 23:00:00   6.9
2017-11-29 00:00:00   5.8
2017-11-29 01:00:00   6.8
2017-11-29 02:00:00   5.1
2017-11-29 03:00:00   5.7
2017-11-29 04:00:00   5.3
2017-11-29 05:00:00   6.7
2017-11-29 06:00:00   3.8
2017-11-29 07:00:00   1.8
2017-11-29 08:00:00   1.6
2017-11-29 09:00:00   2.3
2017-11-29 10:00:00   1.1
2017-11-29 11:00:00   1.6
2017-11-29 12:00:00   2.7
2017-11-29 13:00:00   2.9
2017-11-29 14:00:00   2.5
2017-11-29 15:00:00  99.8
2017-11-29 16:00:00  99.8
2017-11-29 17:00:00  99.8
2017-11-29 18:00:00  99.8
2017-11-29 19:00:00  99.8
2017-11-29 20:00:00  99.8

In [70]:
df_all

                     at  bp  dt  hu  rn      sl  vb  wd  wl  ws     wt
2017-11-01 00:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 01:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 02:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 03:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 04:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 05:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 06:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 07:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 08:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 09:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 10:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 11:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 12:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 13:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 14:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 15:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 16:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 17:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 18:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 19:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 20:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 21:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 22:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 23:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 00:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 01:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 02:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 03:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 04:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 05:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
...                  ..  ..  ..  ..  ..     ...  ..  ..  ..  ..    ...
2017-11-29 18:00:00 NaN NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-29 19:00:00 NaN NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-29 20:00:00 NaN NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-29 21:00:00 NaN NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-29 22:00:00 NaN NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-29 23:00:00 NaN NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-30 00:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 01:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 02:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 03:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 04:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 05:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 06:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 07:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 08:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 09:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 10:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 11:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 12:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 13:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 14:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 15:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 16:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 17:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 18:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 19:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 20:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 21:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 22:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 23:00:00 NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN

[720 rows x 11 columns]

#### (2)  at

In [74]:
result_at= pd.read_table('data/at1129.07422',sep='\s+',names=meteorology_date)
result_at

,date,21,22,23,0,1,2,3,4,5,...,13,14,15,16,17,18,19,20,max,min
0,20171129,18.9,17.5,17.5,17.3,16.9,16.5,16.5,16.0,15.9,...,13.2,13.3,999.8,999.8,999.8,999.8,999.8,999.8,19.8,13.1

In [75]:
# 删除date列
del result_at['date']
# 转置
result_at=result_at.T
result_at=result_at[:-2] 
result_at.index=date_list_meteorology
result_at.columns=['at']
result_at

                        at
2017-11-28 21:00:00   18.9
2017-11-28 22:00:00   17.5
2017-11-28 23:00:00   17.5
2017-11-29 00:00:00   17.3
2017-11-29 01:00:00   16.9
2017-11-29 02:00:00   16.5
2017-11-29 03:00:00   16.5
2017-11-29 04:00:00   16.0
2017-11-29 05:00:00   15.9
2017-11-29 06:00:00   15.5
2017-11-29 07:00:00   15.3
2017-11-29 08:00:00   14.3
2017-11-29 09:00:00   13.7
2017-11-29 10:00:00   13.6
2017-11-29 11:00:00   13.4
2017-11-29 12:00:00   13.4
2017-11-29 13:00:00   13.2
2017-11-29 14:00:00   13.3
2017-11-29 15:00:00  999.8
2017-11-29 16:00:00  999.8
2017-11-29 17:00:00  999.8
2017-11-29 18:00:00  999.8
2017-11-29 19:00:00  999.8
2017-11-29 20:00:00  999.8

In [78]:
df_all=df_all.combine_first(result_at)

In [79]:
df_all

                        at  bp  dt  hu  rn      sl  vb  wd  wl  ws     wt
2017-11-01 00:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 01:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 02:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 03:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 04:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 05:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 06:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 07:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 08:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 09:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 10:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 11:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 12:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 13:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 14:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 15:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 16:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 17:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 18:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 19:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 20:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 21:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 22:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-01 23:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 00:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 01:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 02:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 03:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 04:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-02 05:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
...                    ...  ..  ..  ..  ..     ...  ..  ..  ..  ..    ...
2017-11-29 18:00:00  999.8 NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-29 19:00:00  999.8 NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-29 20:00:00  999.8 NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-29 21:00:00    NaN NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-29 22:00:00    NaN NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-29 23:00:00    NaN NaN NaN NaN NaN  99.998 NaN NaN NaN NaN  999.8
2017-11-30 00:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 01:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 02:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 03:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 04:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 05:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 06:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 07:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 08:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 09:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 10:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 11:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 12:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 13:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 14:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 15:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 16:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 17:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 18:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 19:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 20:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 21:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 22:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN
2017-11-30 23:00:00    NaN NaN NaN NaN NaN     NaN NaN NaN NaN NaN    NaN

[720 rows x 11 columns]

#### （3）bp

In [92]:
result_bp= pd.read_table('data/bp1129.07422',sep='\s+',names=meteorology_date)
result_bp

,date,21,22,23,0,1,2,3,4,5,...,13,14,15,16,17,18,19,20,max,min
0,20171129,1014.1,1014.2,1013.8,1013.9,1013.9,1013.5,1013.4,1013.8,1013.7,...,1014.0,1013.5,9999.8,9999.8,9999.8,9999.8,9999.8,9999.8,1015.6,1013.2

In [93]:
# 删除date列
del result_bp['date']
# 转置
result_bp=result_bp.T
result_bp=result_bp[:-2] 
result_bp.index=date_list_meteorology
result_bp.columns=['bp']

In [94]:
result_bp

                         bp
2017-11-28 21:00:00  1014.1
2017-11-28 22:00:00  1014.2
2017-11-28 23:00:00  1013.8
2017-11-29 00:00:00  1013.9
2017-11-29 01:00:00  1013.9
2017-11-29 02:00:00  1013.5
2017-11-29 03:00:00  1013.4
2017-11-29 04:00:00  1013.8
2017-11-29 05:00:00  1013.7
2017-11-29 06:00:00  1014.1
2017-11-29 07:00:00  1014.9
2017-11-29 08:00:00  1015.3
2017-11-29 09:00:00  1015.5
2017-11-29 10:00:00  1015.2
2017-11-29 11:00:00  1014.6
2017-11-29 12:00:00  1014.6
2017-11-29 13:00:00  1014.0
2017-11-29 14:00:00  1013.5
2017-11-29 15:00:00  9999.8
2017-11-29 16:00:00  9999.8
2017-11-29 17:00:00  9999.8
2017-11-29 18:00:00  9999.8
2017-11-29 19:00:00  9999.8
2017-11-29 20:00:00  9999.8

In [95]:
df_all=df_all.combine_first(result_bp)

In [110]:
df_all[-51:-24]

,at,bp,dt,hu,rn,sl,vb,wd,wl,ws,wt
2017-11-28 21:00:00,18.9,1014.1,NaN,NaN,0.6,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-28 22:00:00,17.5,1014.2,NaN,NaN,1.4,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-28 23:00:00,17.5,1013.8,NaN,NaN,1.5,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 00:00:00,17.3,1013.9,NaN,NaN,0.7,27.500,NaN,NaN,NaN,NaN,17.0
2017-11-29 01:00:00,16.9,1013.9,NaN,NaN,0.7,27.500,NaN,NaN,NaN,NaN,17.0
2017-11-29 02:00:00,16.5,1013.5,NaN,NaN,0.1,27.400,NaN,NaN,NaN,NaN,16.9
2017-11-29 03:00:00,16.5,1013.4,NaN,NaN,0.2,27.400,NaN,NaN,NaN,NaN,16.9
2017-11-29 04:00:00,16.0,1013.8,NaN,NaN,0.3,27.400,NaN,NaN,NaN,NaN,16.9
2017-11-29 05:00:00,15.9,1013.7,NaN,NaN,99999.8,27.400,NaN,NaN,NaN,NaN,16.9
2017-11-29 06:00:00,15.5,1014.1,NaN,NaN,99999.8,27.300,NaN,NaN,NaN,NaN,16.9
2017-11-29 07:00:00,15.3,1014.9,NaN,NaN,99999.8,27.200,NaN,NaN,NaN,NaN,16.8
2017-11-29 08:00:00,14.3,1015.3,NaN,NaN,99999.8,27.200,NaN,NaN,NaN,NaN,16.8
2017-11-29 09:00:00,13.7,1015.5,NaN,NaN,99999.8,27.200,NaN,NaN,NaN,NaN,16.8
2017-11-29 10:00:00,13.6,1015.2,NaN,NaN,99999.8,27.200,NaN,NaN,NaN,NaN,16.8
2017-11-29 11:00:00,13.4,1014.6,NaN,NaN,2.0,27.300,NaN,NaN,NaN,NaN,16.8
2017-11-29 12:00:00,13.4,1014.6,NaN,NaN,3.5,27.300,NaN,NaN,NaN,NaN,16.8
2017-11-29 13:00:00,13.2,1014.0,NaN,NaN,5.5,27.300,NaN,NaN,NaN,NaN,16.7
2017-11-29 14:00:00,13.3,1013.5,NaN,NaN,NaN,27.300,NaN,NaN,NaN,NaN,16.7
2017-11-29 15:00:00,999.8,9999.8,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 16:00:00,999.8,9999.8,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 17:00:00,999.8,9999.8,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 18:00:00,999.8,9999.8,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 19:00:00,999.8,9999.8,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 20:00:00,999.8,9999.8,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 21:00:00,NaN,NaN,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 22:00:00,NaN,NaN,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 23:00:00,NaN,NaN,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8

#### (4) rn

In [111]:
result_rn= pd.read_table('data/rn1129.07422',sep='\s+',names=meteorology_date)
result_rn

,date,21,22,23,0,1,2,3,4,5,...,13,14,15,16,17,18,19,20,max,min
0,20171129,0.6,1.4,1.5,0.7,0.7,0.1,0.2,0.3,99999.8,...,5.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
# 删除date列
del result_rn['date']
# 转置
result_rn=result_rn.T
result_rn=result_rn[:-2] 
result_rn.index=date_list_meteorology
result_rn.columns=['rn']
result_rn

                          rn
2017-11-28 21:00:00      0.6
2017-11-28 22:00:00      1.4
2017-11-28 23:00:00      1.5
2017-11-29 00:00:00      0.7
2017-11-29 01:00:00      0.7
2017-11-29 02:00:00      0.1
2017-11-29 03:00:00      0.2
2017-11-29 04:00:00      0.3
2017-11-29 05:00:00  99999.8
2017-11-29 06:00:00  99999.8
2017-11-29 07:00:00  99999.8
2017-11-29 08:00:00  99999.8
2017-11-29 09:00:00  99999.8
2017-11-29 10:00:00  99999.8
2017-11-29 11:00:00      2.0
2017-11-29 12:00:00      3.5
2017-11-29 13:00:00      5.5
2017-11-29 14:00:00      NaN
2017-11-29 15:00:00      NaN
2017-11-29 16:00:00      NaN
2017-11-29 17:00:00      NaN
2017-11-29 18:00:00      NaN
2017-11-29 19:00:00      NaN
2017-11-29 20:00:00      NaN

In [113]:
df_all=df_all.combine_first(result_rn)
df_all[-51:-24]

,at,bp,dt,hu,rn,sl,vb,wd,wl,ws,wt
2017-11-28 21:00:00,18.9,1014.1,NaN,NaN,0.6,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-28 22:00:00,17.5,1014.2,NaN,NaN,1.4,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-28 23:00:00,17.5,1013.8,NaN,NaN,1.5,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 00:00:00,17.3,1013.9,NaN,NaN,0.7,27.500,NaN,NaN,NaN,NaN,17.0
2017-11-29 01:00:00,16.9,1013.9,NaN,NaN,0.7,27.500,NaN,NaN,NaN,NaN,17.0
2017-11-29 02:00:00,16.5,1013.5,NaN,NaN,0.1,27.400,NaN,NaN,NaN,NaN,16.9
2017-11-29 03:00:00,16.5,1013.4,NaN,NaN,0.2,27.400,NaN,NaN,NaN,NaN,16.9
2017-11-29 04:00:00,16.0,1013.8,NaN,NaN,0.3,27.400,NaN,NaN,NaN,NaN,16.9
2017-11-29 05:00:00,15.9,1013.7,NaN,NaN,99999.8,27.400,NaN,NaN,NaN,NaN,16.9
2017-11-29 06:00:00,15.5,1014.1,NaN,NaN,99999.8,27.300,NaN,NaN,NaN,NaN,16.9
2017-11-29 07:00:00,15.3,1014.9,NaN,NaN,99999.8,27.200,NaN,NaN,NaN,NaN,16.8
2017-11-29 08:00:00,14.3,1015.3,NaN,NaN,99999.8,27.200,NaN,NaN,NaN,NaN,16.8
2017-11-29 09:00:00,13.7,1015.5,NaN,NaN,99999.8,27.200,NaN,NaN,NaN,NaN,16.8
2017-11-29 10:00:00,13.6,1015.2,NaN,NaN,99999.8,27.200,NaN,NaN,NaN,NaN,16.8
2017-11-29 11:00:00,13.4,1014.6,NaN,NaN,2.0,27.300,NaN,NaN,NaN,NaN,16.8
2017-11-29 12:00:00,13.4,1014.6,NaN,NaN,3.5,27.300,NaN,NaN,NaN,NaN,16.8
2017-11-29 13:00:00,13.2,1014.0,NaN,NaN,5.5,27.300,NaN,NaN,NaN,NaN,16.7
2017-11-29 14:00:00,13.3,1013.5,NaN,NaN,NaN,27.300,NaN,NaN,NaN,NaN,16.7
2017-11-29 15:00:00,999.8,9999.8,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 16:00:00,999.8,9999.8,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 17:00:00,999.8,9999.8,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 18:00:00,999.8,9999.8,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 19:00:00,999.8,9999.8,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 20:00:00,999.8,9999.8,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 21:00:00,NaN,NaN,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 22:00:00,NaN,NaN,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 23:00:00,NaN,NaN,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8

#### （5）hu

In [114]:
result_hu= pd.read_table('data/hu1129.07422',sep='\s+',names=meteorology_date)
result_hu

,date,21,22,23,0,1,2,3,4,5,...,13,14,15,16,17,18,19,20,max,min
0,20171129,94,97,97,97,86,88,87,89,89,...,98,99,998,998,998,998,998,998,99,82

In [115]:
# 删除date列
del result_hu['date']
# 转置
result_hu=result_hu.T
result_hu=result_hu[:-2] 
result_hu.index=date_list_meteorology
result_hu.columns=['hu']

In [116]:
df_all=df_all.combine_first(result_hu)
df_all[-51:-24]

,at,bp,dt,hu,rn,sl,vb,wd,wl,ws,wt
2017-11-28 21:00:00,18.9,1014.1,NaN,94.0,0.6,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-28 22:00:00,17.5,1014.2,NaN,97.0,1.4,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-28 23:00:00,17.5,1013.8,NaN,97.0,1.5,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 00:00:00,17.3,1013.9,NaN,97.0,0.7,27.500,NaN,NaN,NaN,NaN,17.0
2017-11-29 01:00:00,16.9,1013.9,NaN,86.0,0.7,27.500,NaN,NaN,NaN,NaN,17.0
2017-11-29 02:00:00,16.5,1013.5,NaN,88.0,0.1,27.400,NaN,NaN,NaN,NaN,16.9
2017-11-29 03:00:00,16.5,1013.4,NaN,87.0,0.2,27.400,NaN,NaN,NaN,NaN,16.9
2017-11-29 04:00:00,16.0,1013.8,NaN,89.0,0.3,27.400,NaN,NaN,NaN,NaN,16.9
2017-11-29 05:00:00,15.9,1013.7,NaN,89.0,99999.8,27.400,NaN,NaN,NaN,NaN,16.9
2017-11-29 06:00:00,15.5,1014.1,NaN,95.0,99999.8,27.300,NaN,NaN,NaN,NaN,16.9
2017-11-29 07:00:00,15.3,1014.9,NaN,98.0,99999.8,27.200,NaN,NaN,NaN,NaN,16.8
2017-11-29 08:00:00,14.3,1015.3,NaN,99.0,99999.8,27.200,NaN,NaN,NaN,NaN,16.8
2017-11-29 09:00:00,13.7,1015.5,NaN,99.0,99999.8,27.200,NaN,NaN,NaN,NaN,16.8
2017-11-29 10:00:00,13.6,1015.2,NaN,99.0,99999.8,27.200,NaN,NaN,NaN,NaN,16.8
2017-11-29 11:00:00,13.4,1014.6,NaN,99.0,2.0,27.300,NaN,NaN,NaN,NaN,16.8
2017-11-29 12:00:00,13.4,1014.6,NaN,99.0,3.5,27.300,NaN,NaN,NaN,NaN,16.8
2017-11-29 13:00:00,13.2,1014.0,NaN,98.0,5.5,27.300,NaN,NaN,NaN,NaN,16.7
2017-11-29 14:00:00,13.3,1013.5,NaN,99.0,NaN,27.300,NaN,NaN,NaN,NaN,16.7
2017-11-29 15:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 16:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 17:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 18:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 19:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 20:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 21:00:00,NaN,NaN,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 22:00:00,NaN,NaN,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8
2017-11-29 23:00:00,NaN,NaN,NaN,NaN,NaN,99.998,NaN,NaN,NaN,NaN,999.8

### (6) wl 潮位

In [148]:
arr_temp=np.arange(24).tolist()
arr_wl=[temp.zfill(2) for temp in np.arange(24).astype(str).tolist()]
arr_wl.insert(0,'date')
index=0
while index<4:
    arr_wl.append('value%s'%index)
    arr_wl.append('date%s'%index)
    index+=1

In [149]:
result_wl= pd.read_table('data/wl1129_dat.07422',sep='\s+',names=arr_wl)
result_wl

,date,00,01,02,03,04,05,06,07,08,...,22,23,value0,date0,value1,date1,value2,date2,value3,date3
0,20171129,206,251,309,362,396,399,377,331,276,...,9998,9998,403,435,9999,9999,182,1041,9999,9999

In [150]:
# 删除date列
del result_wl['date']
# 转置
result_wl=result_wl.T
result_wl=result_wl[:-8] 
result_wl.index=date_list_b
result_wl.columns=['wl']

In [152]:
df_all=df_all.combine_first(result_wl)
df_all[-51:-24]

,at,bp,dt,hu,rn,sl,vb,wd,wl,ws,wt
2017-11-28 21:00:00,18.9,1014.1,NaN,94.0,0.6,NaN,NaN,NaN,206.0,NaN,NaN
2017-11-28 22:00:00,17.5,1014.2,NaN,97.0,1.4,NaN,NaN,NaN,251.0,NaN,NaN
2017-11-28 23:00:00,17.5,1013.8,NaN,97.0,1.5,NaN,NaN,NaN,309.0,NaN,NaN
2017-11-29 00:00:00,17.3,1013.9,NaN,97.0,0.7,27.500,NaN,NaN,362.0,NaN,17.0
2017-11-29 01:00:00,16.9,1013.9,NaN,86.0,0.7,27.500,NaN,NaN,396.0,NaN,17.0
2017-11-29 02:00:00,16.5,1013.5,NaN,88.0,0.1,27.400,NaN,NaN,399.0,NaN,16.9
2017-11-29 03:00:00,16.5,1013.4,NaN,87.0,0.2,27.400,NaN,NaN,377.0,NaN,16.9
2017-11-29 04:00:00,16.0,1013.8,NaN,89.0,0.3,27.400,NaN,NaN,331.0,NaN,16.9
2017-11-29 05:00:00,15.9,1013.7,NaN,89.0,99999.8,27.400,NaN,NaN,276.0,NaN,16.9
2017-11-29 06:00:00,15.5,1014.1,NaN,95.0,99999.8,27.300,NaN,NaN,223.0,NaN,16.9
2017-11-29 07:00:00,15.3,1014.9,NaN,98.0,99999.8,27.200,NaN,NaN,189.0,NaN,16.8
2017-11-29 08:00:00,14.3,1015.3,NaN,99.0,99999.8,27.200,NaN,NaN,185.0,NaN,16.8
2017-11-29 09:00:00,13.7,1015.5,NaN,99.0,99999.8,27.200,NaN,NaN,207.0,NaN,16.8
2017-11-29 10:00:00,13.6,1015.2,NaN,99.0,99999.8,27.200,NaN,NaN,260.0,NaN,16.8
2017-11-29 11:00:00,13.4,1014.6,NaN,99.0,2.0,27.300,NaN,NaN,324.0,NaN,16.8
2017-11-29 12:00:00,13.4,1014.6,NaN,99.0,3.5,27.300,NaN,NaN,9998.0,NaN,16.8
2017-11-29 13:00:00,13.2,1014.0,NaN,98.0,5.5,27.300,NaN,NaN,9998.0,NaN,16.7
2017-11-29 14:00:00,13.3,1013.5,NaN,99.0,NaN,27.300,NaN,NaN,9998.0,NaN,16.7
2017-11-29 15:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,NaN,9998.0,NaN,999.8
2017-11-29 16:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,NaN,9998.0,NaN,999.8
2017-11-29 17:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,NaN,9998.0,NaN,999.8
2017-11-29 18:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,NaN,9998.0,NaN,999.8
2017-11-29 19:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,NaN,9998.0,NaN,999.8
2017-11-29 20:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,NaN,9998.0,NaN,999.8
2017-11-29 21:00:00,NaN,NaN,NaN,NaN,NaN,99.998,NaN,NaN,9998.0,NaN,999.8
2017-11-29 22:00:00,NaN,NaN,NaN,NaN,NaN,99.998,NaN,NaN,9998.0,NaN,999.8
2017-11-29 23:00:00,NaN,NaN,NaN,NaN,NaN,99.998,NaN,NaN,9998.0,NaN,999.8

### （7）ws 风向风速

In [155]:
result_ws= pd.read_table('data/ws1129_dat.07422',sep='\s+')
result_ws

,20171129,60,3.2,48,5.3,52,4.9,36,4.7,28,...,998.1,99.8.1,998.2,99.8.2,998.3,99.8.3,998.4,99.8.4,998.5,99.8.5
0,13.4000,25.0000,17.1000,36.0,19.7,34.0,99.9,999.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16.6000,22.0000,1053.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19.7000,34.0000,851.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,715.0715,746.0928,946.1102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [185]:
#获取第一行（相当于是列头）
columns=result_ws.columns
#获取剔除第一个日期之外的其他值
result_ws_1=pd.DataFrame(columns)[1:]
# 修改形状
result_ws_1=pd.DataFrame(result_ws_1.values.reshape((24,2)))
result_ws_1.head(5)

    0    1
0  60  3.2
1  48  5.3
2  52  4.9
3  36  4.7
4  28  9.9

#### 修改columns与index

In [189]:
result_ws_1.index=date_list_meteorology
result_ws_1.columns=['wd','ws']
result_ws_1.head(5)

                     wd   ws
2017-11-28 21:00:00  60  3.2
2017-11-28 22:00:00  48  5.3
2017-11-28 23:00:00  52  4.9
2017-11-29 00:00:00  36  4.7
2017-11-29 01:00:00  28  9.9

In [190]:
df_all=df_all.combine_first(result_ws_1)

In [192]:
df_all[-51:-24]

,at,bp,dt,hu,rn,sl,vb,wd,wl,ws,wt
2017-11-28 21:00:00,18.9,1014.1,NaN,94.0,0.6,NaN,NaN,60.0,206.0,3.2,NaN
2017-11-28 22:00:00,17.5,1014.2,NaN,97.0,1.4,NaN,NaN,48.0,251.0,5.3,NaN
2017-11-28 23:00:00,17.5,1013.8,NaN,97.0,1.5,NaN,NaN,52.0,309.0,4.9,NaN
2017-11-29 00:00:00,17.3,1013.9,NaN,97.0,0.7,27.500,NaN,36.0,362.0,4.7,17.0
2017-11-29 01:00:00,16.9,1013.9,NaN,86.0,0.7,27.500,NaN,28.0,396.0,9.9,17.0
2017-11-29 02:00:00,16.5,1013.5,NaN,88.0,0.1,27.400,NaN,41.0,399.0,9.8,16.9
2017-11-29 03:00:00,16.5,1013.4,NaN,87.0,0.2,27.400,NaN,39.0,377.0,10.0,16.9
2017-11-29 04:00:00,16.0,1013.8,NaN,89.0,0.3,27.400,NaN,32.0,331.0,10.5,16.9
2017-11-29 05:00:00,15.9,1013.7,NaN,89.0,99999.8,27.400,NaN,36.1,276.0,11.0,16.9
2017-11-29 06:00:00,15.5,1014.1,NaN,95.0,99999.8,27.300,NaN,38.0,223.0,11.5,16.9
2017-11-29 07:00:00,15.3,1014.9,NaN,98.0,99999.8,27.200,NaN,34.0,189.0,11.1,16.8
2017-11-29 08:00:00,14.3,1015.3,NaN,99.0,99999.8,27.200,NaN,28.1,185.0,14.0,16.8
2017-11-29 09:00:00,13.7,1015.5,NaN,99.0,99999.8,27.200,NaN,29.0,207.0,15.7,16.8
2017-11-29 10:00:00,13.6,1015.2,NaN,99.0,99999.8,27.200,NaN,34.1,260.0,13.3,16.8
2017-11-29 11:00:00,13.4,1014.6,NaN,99.0,2.0,27.300,NaN,23.0,324.0,16.1,16.8
2017-11-29 12:00:00,13.4,1014.6,NaN,99.0,3.5,27.300,NaN,15.0,9998.0,12.2,16.8
2017-11-29 13:00:00,13.2,1014.0,NaN,98.0,5.5,27.300,NaN,7.0,9998.0,10.0.1,16.7
2017-11-29 14:00:00,13.3,1013.5,NaN,99.0,NaN,27.300,NaN,9.0,9998.0,11.1.1,16.7
2017-11-29 15:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,998.0,9998.0,99.8,999.8
2017-11-29 16:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,998.1,9998.0,99.8.1,999.8
2017-11-29 17:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,998.2,9998.0,99.8.2,999.8
2017-11-29 18:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,998.3,9998.0,99.8.3,999.8
2017-11-29 19:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,998.4,9998.0,99.8.4,999.8
2017-11-29 20:00:00,999.8,9999.8,NaN,998.0,NaN,99.998,NaN,998.5,9998.0,99.8.5,999.8
2017-11-29 21:00:00,NaN,NaN,NaN,NaN,NaN,99.998,NaN,NaN,9998.0,NaN,999.8
2017-11-29 22:00:00,NaN,NaN,NaN,NaN,NaN,99.998,NaN,NaN,9998.0,NaN,999.8
2017-11-29 23:00:00,NaN,NaN,NaN,NaN,NaN,99.998,NaN,NaN,9998.0,NaN,999.8