In [1]:
import pandas as pd
import numpy as np

In [4]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-05-29 18:36:27,2017-05-29 18:49:27,780,Columbus Dr & Randolph St,Federal St & Polk St,Subscriber,Male,1991.0
1,2017-06-12 19:00:33,2017-06-12 19:24:22,1429,Kingsbury St & Erie St,Orleans St & Merchandise Mart Plaza,Customer,NaN,NaN
2,2017-02-13 17:02:02,2017-02-13 17:20:10,1088,Canal St & Madison St,Paulina Ave & North Ave,Subscriber,Female,1982.0
3,2017-04-24 18:39:45,2017-04-24 18:54:59,914,Spaulding Ave & Armitage Ave,California Ave & Milwaukee Ave,Subscriber,Male,1966.0
4,2017-01-26 15:36:07,2017-01-26 15:43:21,434,Clark St & Randolph St,Financial Pl & Congress Pkwy,Subscriber,Female,1983.0

** 描述信息 **：  
使用 pandas 在 dataframe 中加载 chicago.csv，并找到人们开始出行频率最高的 hour 时刻。数据集中并没有 hour 列，但你可以通过提取 “Start Time” 中的 hour 来创建 hour 列。为了完成这一点，你可以使用 pandas 的 to_datetime() 方法来将 “Start Time” 转换为 datetime 数据类型，并使用这些 properties 来提取相关属性，如 hour。

In [19]:
df=pd.read_csv('chicago.csv')

先查看一下Start Time的类型  
发现是** object类型 **  
所以需要转换成datetime

In [21]:
df['Start Time'].head()

0    2017-05-29 18:36:27
1    2017-06-12 19:00:33
2    2017-02-13 17:02:02
3    2017-04-24 18:39:45
4    2017-01-26 15:36:07
Name: Start Time, dtype: object

In [23]:
df['Start Time']=pd.to_datetime(df['Start Time'])

In [24]:
df['Start Time'].head()

0   2017-05-29 18:36:27
1   2017-06-12 19:00:33
2   2017-02-13 17:02:02
3   2017-04-24 18:39:45
4   2017-01-26 15:36:07
Name: Start Time, dtype: datetime64[ns]

转成datetime类型后，便可以调用dt.hour的方式获取小时

In [25]:
# extract hour from the Start Time column to create an hour column
df['hours']=df['Start Time'].dt.hour

In [26]:
df['hours'].head()

0    18
1    19
2    17
3    18
4    15
Name: hours, dtype: int64

In [28]:
# find the most common hour (from 0 to 23)
popular_hour = df['hours'].mode()

In [29]:
popular_hour

0    17
dtype: int64