In [2]:
import pandas as pd

** 项目概述 **

包括加载数据集并根据指定月份和星期名进行筛选。  
在下面的测试中，你将实现 load_data() 函数，你也可以直接在项目中使用这个函数。共有以下四个步骤：  

    加载指定城市的数据集。索引 global CITY_DATA 字典对象来获取指定城市名对应的文件名。  
    创建 month 以及 day_of_week 列。将 "Start Time" 列转换为 datetime，并使用 datetime 模块分列提取 month number（月份数）和 weekday name （星期名）。  
    根据月份筛选。由于 month 参数是以月份名称给出的，你首先需要将其转换为对应的月份数字。接着，选择包含指定月份的 dataframe 行，并重新为 dataframe 赋值。  
    根据星期名筛选。选择包含指定星期名的 dataframe 行，并重新为其分配 dataframe。  （注意：请使用 title() 方法将 day 参数首字母大写，与 day_of_week 列中使用的首字母大写对应。）

In [3]:
filename = 'chicago.csv'

# load data file into a dataframe
df = pd.read_csv(filename)

In [4]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-05-29 18:36:27,2017-05-29 18:49:27,780,Columbus Dr & Randolph St,Federal St & Polk St,Subscriber,Male,1991.0
1,2017-06-12 19:00:33,2017-06-12 19:24:22,1429,Kingsbury St & Erie St,Orleans St & Merchandise Mart Plaza,Customer,NaN,NaN
2,2017-02-13 17:02:02,2017-02-13 17:20:10,1088,Canal St & Madison St,Paulina Ave & North Ave,Subscriber,Female,1982.0
3,2017-04-24 18:39:45,2017-04-24 18:54:59,914,Spaulding Ave & Armitage Ave,California Ave & Milwaukee Ave,Subscriber,Male,1966.0
4,2017-01-26 15:36:07,2017-01-26 15:43:21,434,Clark St & Randolph St,Financial Pl & Congress Pkwy,Subscriber,Female,1983.0

In [4]:
import pandas as pd
import datetime

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [5]:
df['Start Time'].head()

0    2017-05-29 18:36:27
1    2017-06-12 19:00:33
2    2017-02-13 17:02:02
3    2017-04-24 18:39:45
4    2017-01-26 15:36:07
Name: Start Time, dtype: object

In [6]:
df['Start Time'][0]

'2017-05-29 18:36:27'

In [7]:
type(df['Start Time'][0])

str

** 将时间转为datetime **

** 注意：datetime与timestamp均有year，month，day等属性**

In [8]:
dt_target=datetime.datetime.strptime(df['Start Time'][0],'%Y-%m-%d %H:%M:%S')
dt_target

datetime.datetime(2017, 5, 29, 18, 36, 27)

In [9]:
dt_target.year

2017

In [10]:
df['Start Time'][0]

'2017-05-29 18:36:27'

In [11]:
type(df['Start Time'][0])

str

** 使用pd.to_datetime将每一个str类型（series）的dt转成timestamp**

In [12]:
ts=pd.to_datetime(df['Start Time'][0])

In [13]:
type(ts)

pandas._libs.tslib.Timestamp

In [15]:
ts

Timestamp('2017-05-29 18:36:27')

In [16]:
ts.year

2017

In [17]:
ts.month

5

In [18]:
ts.weekday()

0

In [19]:
ts.hour

18

### 筛选df数据（获取指定月份的数据）

In [21]:
df['month']=ts.month

In [33]:
df['Start Time']=pd.to_datetime(df['Start Time'])

In [34]:
df['Start Time'].head()

0   2017-05-29 18:36:27
1   2017-06-12 19:00:33
2   2017-02-13 17:02:02
3   2017-04-24 18:39:45
4   2017-01-26 15:36:07
Name: Start Time, dtype: datetime64[ns]

In [35]:
type(df['Start Time'][0])

pandas._libs.tslib.Timestamp

In [37]:
# df['Start Time'].dt.month

In [23]:
df

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month
0,2017-05-29 18:36:27,2017-05-29 18:49:27,780,Columbus Dr & Randolph St,Federal St & Polk St,Subscriber,Male,1991.0,5
1,2017-06-12 19:00:33,2017-06-12 19:24:22,1429,Kingsbury St & Erie St,Orleans St & Merchandise Mart Plaza,Customer,NaN,NaN,5
2,2017-02-13 17:02:02,2017-02-13 17:20:10,1088,Canal St & Madison St,Paulina Ave & North Ave,Subscriber,Female,1982.0,5
3,2017-04-24 18:39:45,2017-04-24 18:54:59,914,Spaulding Ave & Armitage Ave,California Ave & Milwaukee Ave,Subscriber,Male,1966.0,5
4,2017-01-26 15:36:07,2017-01-26 15:43:21,434,Clark St & Randolph St,Financial Pl & Congress Pkwy,Subscriber,Female,1983.0,5
5,2017-06-21 09:43:54,2017-06-21 10:01:31,1057,Ogden Ave & Race Ave,Franklin St & Monroe St,Subscriber,Female,1981.0,5
6,2017-04-24 08:33:31,2017-04-24 08:38:47,316,Clinton St & Washington Blvd,Morgan St & Lake St,Subscriber,Male,1986.0,5
7,2017-03-21 07:23:58,2017-03-21 07:33:17,559,Canal St & Adams St,Michigan Ave & Lake St,Subscriber,Male,1969.0,5
8,2017-01-14 12:16:20,2017-01-14 12:58:17,2517,Wentworth Ave & Archer Ave,Franklin St & Jackson Blvd,Customer,NaN,NaN,5
9,2017-04-06 09:15:52,2017-04-06 09:22:11,379,Canal St & Madison St,Clark St & Lake St,Subscriber,Male,1982.0,5
10,2017-06-13 17:02:44,2017-06-13 17:08:17,333,State St & Kinzie St,Stetson Ave & South Water St,Subscriber,Male,1963.0,5
11,2017-03-09 09:15:39,2017-03-09 09:18:56,197,Clark St & Lake St,Rush St & Hubbard St,Subscriber,Male,1986.0,5
12,2017-03-22 06:54:00,2017-03-22 06:59:02,302,Larrabee St & Division St,Clark St & Elm St,Subscriber,Female,1990.0,5
13,2017-02-21 17:51:52,2017-02-21 17:55:03,191,Ashland Ave & Division St,Damen Ave & Division St,Subscriber,Male,1979.0,5
14,2017-03-13 13:19:26,2017-03-13 13:27:35,489,LaSalle St & Washington St,Sangamon St & Washington Blvd (*),Subscriber,Male,1972.0,5
15,2017-04-04 23:12:25,2017-04-04 23:25:56,811,Sheffield Ave & Webster Ave,Halsted St & Roscoe St,Subscriber,Male,1990.0,5
16,2017-04-05 19:28:40,2017-04-05 19:35:59,439,Orleans St & Merchandise Mart Plaza,Clinton St & Washington Blvd,Subscriber,Male,1957.0,5
17,2017-05-15 15:49:46,2017-05-15 15:57:25,459,Southport Ave & Irving Park Rd,Lincoln Ave & Roscoe St,Subscriber,Male,1962.0,5
18,2017-02-18 15:23:05,2017-02-18 15:54:18,1873,Central St & Girard Ave,Central St & Girard Ave,Subscriber,Male,1982.0,5
19,2017-04-02 13:21:17,2017-04-02 13:30:55,578,Kingsbury St & Kinzie St,Wells St & Elm St,Subscriber,Male,1965.0,5
20,2017-06-20 11:38:18,2017-06-20 11:51:54,816,State St & Pearson St,Clinton St & Madison St,Subscriber,Male,1987.0,5
21,2017-02-01 08:49:24,2017-02-01 09:06:49,1045,Clinton St & 18th St,Clinton St & Washington Blvd,Subscriber,Female,1985.0,5
22,2017-04-11 11:22:42,2017-04-11 11:40:22,1060,Loomis St & Jackson Blvd,Clark St & Lake St,Subscriber,Male,1974.0,5
23,2017-05-21 12:07:47,2017-05-21 12:13:46,359,Orleans St & Merchandise Mart Plaza,Green St & Randolph St,Subscriber,Male,1991.0,5
24,2017-06-28 21:07:24,2017-06-28 21:21:57,873,Paulina Ave & North Ave,Troy St & North Ave,Subscriber,Female,1994.0,5
25,2017-02-08 17:33:43,2017-02-08 17:38:57,314,Wabash Ave & 16th St,Wabash Ave & Roosevelt Rd,Subscriber,Female,1984.0,5
26,2017-06-24 21:58:46,2017-06-24 22:22:28,1422,Adler Planetarium,State St & Randolph St,Customer,NaN,NaN,5
27,2017-05-23 08:18:01,2017-05-23 08:33:06,905,Ogden Ave & Race Ave,Daley Center Plaza,Subscriber,Female,1984.0,5
28,2017-06-07 12:30:44,2017-06-07 12:44:48,844,Columbus Dr & Randolph St,Clinton St & Jackson Blvd,Subscriber,Male,1957.0,5
29,2017-04-04 14:12:57,2017-04-04 14:16:54,237,California Ave & Milwaukee Ave,Stave St & Armitage Ave,Subscriber,Male,1957.0,5
...,...,...,...,...,...,...,...,...,...
370,2017-01-25 08:41:58,2017-01-25 08:45:53,235,Sangamon St & Washington Blvd (*),Clinton St & Madison St,Subscriber,Male,1985.0,5
371,2017-06-07 17:38:27,2017-06-07 17:45:28,421,Michigan Ave & Washington St,Wacker Dr & Washington St,Subscriber,Male,1963.0,5
372,2017-03-23 13:21:51,2017-03-23 13:32:46,655,Dearborn St & Adams St,Rush St & Superior St,Subscriber,Female,1971.0,5
373,2017-05-22 06:45:24,2017-05-22 06:55:15,591,Campbell Ave & Montrose Ave,Damen Ave & Sunnyside Ave,Subscriber,Female,1973.0,5
374,2017-04-15 15:47:57,2017-04-15 16:04:28,991,Dearborn Pkwy & Delaware Pl,Halsted St & Wrightwood Ave,Customer,NaN,NaN,5
375,2017-06-24 16:48:07,2017-06-24 16:56:22,495,State St & Pearson St,McClurg Ct & Illinois St,Subscriber,Male,1984.0,5
376,2017-05-19 07:15:41,2017-05-19 07:21:17,336,Clinton St & Washington Blvd,Michigan Ave & Washington St,Subscriber,Male,1965.0,5
377,2017-06-27 16:10:55,2017-06-27 16:24:48,833,Marshfield Ave & Cortland St,Clark St & Armitage Ave,Customer,NaN,NaN,5
378,2017-06-16 17:17:23,2017-06-16 17:22:25,302,Racine Ave & Fullerton Ave,Ashland Ave & Wrightwood Ave,Subscriber,Female,1980.0,5
379,2017-03-20 08:28:01,2017-03-20 08:46:03,1082,Michigan Ave & 14th St,Stetson Ave & South Water St,Subscriber,Male,1973.0,5
380,2017-06-25 19:03:43,2017-06-26 08:16:14,47551,Lincoln Ave & Diversey Pkwy,Lincoln Ave & Diversey Pkwy,Subscriber,Male,1985.0,5
381,2017-06-05 07:19:18,2017-06-05 07:24:51,333,Cannon Dr & Fullerton Ave,Clark St & Wrightwood Ave,Subscriber,Male,1982.0,5
382,2017-04-27 12:46:12,2017-04-27 12:54:03,471,Wells St & Huron St,Michigan Ave & Lake St,Subscriber,Male,1972.0,5
383,2017-06-21 20:06:34,2017-06-21 20:25:10,1116,Wabash Ave & Wacker Pl,Morgan St & Lake St,Customer,NaN,NaN,5
384,2017-05-29 09:47:20,2017-05-29 10:14:31,1631,Benson Ave & Church St,University Library (NU),Customer,NaN,NaN,5
385,2017-01-15 19:34:35,2017-01-15 19:41:52,437,Clinton St & Madison St,Racine Ave (May St) & Fulton St,Subscriber,Male,1978.0,5
386,2017-06-22 08:20:15,2017-06-22 08:43:22,1387,Michigan Ave & Oak St,Desplaines St & Jackson Blvd,Subscriber,Male,1985.0,5
387,2017-02-07 14:36:00,2017-02-07 14:41:44,344,Kingsbury St & Kinzie St,LaSalle St & Washington St,Subscriber,Male,1966.0,5
388,2017-06-03 00:18:58,2017-06-03 00:41:19,1341,Wabash Ave & Cermak Rd,Indiana Ave & 31st St,Customer,NaN,NaN,5
389,2017-04-15 12:38:56,2017-04-15 12:56:52,1076,Adler Planetarium,Dusable Harbor,Subscriber,Male,1958.0,5
390,2017-01-26 12:16:01,2017-01-26 12:31:19,918,Kedzie Ave & 21st St,Ogden Ave & Roosevelt Rd,Subscriber,Male,1949.0,5
391,2017-05-21 19:17:39,2017-05-21 19:22:12,273,Ashland Ave & Division St,Paulina Ave & North Ave,Subscriber,Male,1989.0,5
392,2017-04-08 18:39:53,2017-04-08 19:00:19,1226,Streeter Dr & Grand Ave,Dearborn Pkwy & Delaware Pl,Customer,NaN,NaN,5
393,2017-06-06 05:54:58,2017-06-06 05:59:56,298,McClurg Ct & Illinois St,State St & Kinzie St,Subscriber,Female,1971.0,5
394,2017-03-29 17:00:33,2017-03-29 17:04:43,250,Broadway & Wilson Ave,Sheridan Rd & Montrose Ave,Subscriber,Male,1993.0,5
395,2017-02-06 13:34:32,2017-02-06 13:41:35,423,Jefferson St & Monroe St,Racine Ave & Randolph St,Subscriber,Male,1973.0,5
396,2017-05-22 16:44:08,2017-05-22 16:48:05,237,Clark St & Randolph St,Clinton St & Washington Blvd,Subscriber,Male,1959.0,5
397,2017-06-09 17:03:44,2017-06-09 17:24:30,1246,Streeter Dr & Grand Ave,Michigan Ave & Lake St,Customer,NaN,NaN,5
398,2017-05-16 08:14:27,2017-05-16 08:28:24,837,Wabash Ave & 16th St,Daley Center Plaza,Subscriber,Male,1988.0,5
399,2017-05-16 12:48:34,2017-05-16 12:58:17,583,Larrabee St & Kingsbury St,Sangamon St & Washington Blvd (*),Subscriber,Male,1990.0,5

In [22]:
df[df['month']==1]

Empty DataFrame
Columns: [Start Time, End Time, Trip Duration, Start Station, End Station, User Type, Gender, Birth Year, month]
Index: []

In [51]:
def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - pandas DataFrame containing city data filtered by month and day
    """
    
    # load data file into a dataframe
    # 从字典中根据key获取对应的城市名称（value）
    df_name=CITY_DATA[city]
    df = pd.read_csv(df_name)

    # convert the Start Time column to datetime
    # 将Start Time重新赋值为timestamp格式
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    ts=df['Start Time'].dt
#     print(ts)
    # extract month and day of week from Start Time to create new columns
    df['month'] = ts.month
    df['day_of_week'] = ts.weekday


    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
#         使用月份列表的索引来获得相应的整数
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        index_month=months.index(month)+1
#         month = months[ts.month]
    
        # filter by month to create the new dataframe
#         df = 
        df=df[df['month']==index_month]
    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        dayofweek=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
        index_weekday=dayofweek.index(day)+1
        df=df[df['day_of_week']==index_weekday]
    
    return df

In [52]:
df = load_data('chicago', 'march', 'friday')

In [53]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
54,2017-03-18 11:06:21,2017-03-18 11:14:41,500,Wabash Ave & Grand Ave,Wells St & Walton St,Subscriber,Male,1967.0,3,5
169,2017-03-18 15:08:09,2017-03-18 15:17:40,571,Southport Ave & Roscoe St,Broadway & Waveland Ave,Subscriber,Male,1952.0,3,5
328,2017-03-18 13:44:02,2017-03-18 14:35:46,3104,Wabash Ave & Roosevelt Rd,Dusable Harbor,Subscriber,Male,1977.0,3,5

In [54]:
df['month'].mode()

0    3
dtype: int64

** 计算起始站及结束站的众数**

注意下面要计算start与end两个的众数（两个出现次数最多的情况）

In [5]:
df[['Start Station','End Station']].mode()

             Start Station                   End Station
0  Streeter Dr & Grand Ave  Clinton St & Washington Blvd

### 对列进行运算

* 对某一列求和

In [21]:
df['Trip Duration'].sum()

375286

* 对某一列求平均值

In [22]:
df['Trip Duration'].mean()

938.215

### 对某一列数组进行分组

** 查看User Type这一列不同的值及数量**

In [24]:
df['User Type'].value_counts()

Subscriber    330
Customer       70
Name: User Type, dtype: int64

In [25]:
df['Gender'].value_counts()

Male      244
Female     86
Name: Gender, dtype: int64

** 对生日进行最早，最晚，出现次数最多的进行排列**

In [37]:
# (df.sort_values(by=['Birth Year'])).loc[0]

In [38]:
df.sort_values(by=['Birth Year'])[:5]

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
390,2017-01-26 12:16:01,2017-01-26 12:31:19,918,Kedzie Ave & 21st St,Ogden Ave & Roosevelt Rd,Subscriber,Male,1949.0
52,2017-06-02 13:48:36,2017-06-02 14:02:48,852,Ashland Ave & 21st St,California Ave & 21st St,Subscriber,Male,1949.0
203,2017-02-05 09:24:29,2017-02-05 09:39:59,930,Sedgwick St & North Ave,Kingsbury St & Kinzie St,Subscriber,Male,1950.0
70,2017-06-19 12:38:53,2017-06-19 12:55:25,992,Streeter Dr & Grand Ave,Dearborn St & Monroe St,Subscriber,Male,1950.0
169,2017-03-18 15:08:09,2017-03-18 15:17:40,571,Southport Ave & Roscoe St,Broadway & Waveland Ave,Subscriber,Male,1952.0

In [44]:
df.sort_values(by=['Birth Year'])[:5]

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
390,2017-01-26 12:16:01,2017-01-26 12:31:19,918,Kedzie Ave & 21st St,Ogden Ave & Roosevelt Rd,Subscriber,Male,1949.0
52,2017-06-02 13:48:36,2017-06-02 14:02:48,852,Ashland Ave & 21st St,California Ave & 21st St,Subscriber,Male,1949.0
203,2017-02-05 09:24:29,2017-02-05 09:39:59,930,Sedgwick St & North Ave,Kingsbury St & Kinzie St,Subscriber,Male,1950.0
70,2017-06-19 12:38:53,2017-06-19 12:55:25,992,Streeter Dr & Grand Ave,Dearborn St & Monroe St,Subscriber,Male,1950.0
169,2017-03-18 15:08:09,2017-03-18 15:17:40,571,Southport Ave & Roscoe St,Broadway & Waveland Ave,Subscriber,Male,1952.0

* 找到出生最早已经最晚的信息

In [45]:
df.sort_values(by=['Birth Year'])[:1]

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
390,2017-01-26 12:16:01,2017-01-26 12:31:19,918,Kedzie Ave & 21st St,Ogden Ave & Roosevelt Rd,Subscriber,Male,1949.0

In [61]:
df.sort_values(by=['Birth Year'])[:1]['Birth Year']

390    1949.0
Name: Birth Year, dtype: float64

In [46]:
df.sort_values(by=['Birth Year'],ascending=False)[:1]

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
322,2017-06-15 18:15:58,2017-06-15 18:19:03,185,University Ave & 57th St,Woodlawn Ave & 55th St,Subscriber,Male,1999.0

In [62]:
df.sort_values(by=['Birth Year'],ascending=False)[:1]['Birth Year']

322    1999.0
Name: Birth Year, dtype: float64

* 找到出现次数最多的生日

In [60]:
df['Birth Year'].value_counts().head()

1989.0    24
1990.0    23
1986.0    21
1984.0    20
1985.0    18
Name: Birth Year, dtype: int64

In [53]:
counts=df['Birth Year'].value_counts()

注意这个values_count返回的是一个serise

In [55]:
type(counts)

pandas.core.series.Series

In [59]:
counts.index[0]

1989.0