In [7]:
import time
import pandas as pd
import numpy as np

In [17]:
CITY_DATA = {'chicago': 'chicago.csv',
             'new york city': 'new_york_city.csv',
             'washington': 'washington.csv'}
months = ['january', 'february', 'march', 'april', 'may', 'june','all']

day_of_week = ['monday', 'tuesday', 'wednesday',
                   'thursday', 'friday', 'saturday', 'sunday','all']

In [18]:
def input_mod(input_print,error_print,enterable_list):
    
    # 将输入的input内容最小化
    ret=input(input_print).lower()
    # 判断输入的内容是否在可选范围内
    while ret not in enterable_list:
        # 若不在则需要重新输入
        ret=input(error_print).lower()
    return ret

In [19]:
def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.
    让用户输入符合条件的城市、月份、以及星期
    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!')
    # TO DO: get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    # 为城市（芝加哥，纽约，华盛顿）获取用户输入。提示：使用while循环来处理无效输入

    city = ''   

    
    # 方式2：
    city=input_mod('请输入你要选择的城市：“chicago, new york city, washington”','你输入的城市信息有误，请重新输入',CITY_DATA.keys())

    print('-'*40)

    # TO DO: get user input for month (all, january, february, ... , june)
    # 处理用户输入的月份
    month = ''

    month=input_mod('请输入你要选择的月份：“all, january, february, ... , june”','您输入的有误，请重新输入',months)
    print('-'*40)

    # TO DO: get user input for day of week (all, monday, tuesday, ... sunday)
    # 处理用户输入的日
    dayOfWeek = ''

    dayOfWeek=input_mod('你要选择星期几：“monday,tuesday,wednesday,thursday,friday,saturday,sunday”','您输入的有误，请重新输入',day_of_week)
    print('-'*40)
    return city, month, dayOfWeek

In [20]:
def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    # 取出指定城市对应的文件名称
    # CITY_DATA = {'chicago': 'chicago.csv',
    #              'new york city': 'new_york_city.csv',
    #              'washington': 'washington.csv'}
    city_data_filename = CITY_DATA[city]
    # 读取指定路径的文件
    df = pd.read_csv(city_data_filename)
    # 对数据进行筛选
    # 需要删选的条件有：
    #   月份
    #   一周中的某天

    # 修改Start Time为时间戳格式
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    ts = df['Start Time'].dt
    # 月份的计数是从1开始
    df['month'] = ts.month
    # weekday的计数是从0开始（即0代表星期1）
    df['day_of_week'] = ts.weekday+1
    # 注意还需要为df添加一个hours列，hour的计数是从1开始
    df['hours'] = df['Start Time'].dt.hour
    # filter by month if applicable
    if month != 'all':
            # use the index of the months list to get the corresponding int
        # 使用月份列表的索引来获得相应的整数
        # months = ['january', 'february', 'march', 'april', 'may', 'june']
        # index_month = months.index(month)+1
        index_month = months.index(month)+1
#         month = months[ts.month]

        # filter by month to create the new dataframe
#         df =
        df = df[df['month'] == index_month]
    # elif month=='all':

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        # dayofweek = ['monday', 'tuesday', 'wednesday',
        #              'thursday', 'friday', 'saturday', 'sunday']
        # index_weekday = dayofweek.index(day)+1
        index_weekday = day_of_week.index(day)+1
        df = df[df['day_of_week'] == index_weekday]
    return df

In [21]:
city, month, day = get_filters()

Hello! Let's explore some US bikeshare data!
请输入你要选择的城市：“chicago, new york city, washington”chicago
----------------------------------------
请输入你要选择的月份：“all, january, february, ... , june”february
----------------------------------------
你要选择星期几：“monday,tuesday,wednesday,thursday,friday,saturday,sunday”wednesday
----------------------------------------

输出输入的几个审查后的变量

In [25]:
city

'chicago'

In [26]:
month

'february'

In [27]:
day

'wednesday'

**根据筛选条件进行筛选**

In [28]:
df = load_data(city, month, day)

In [30]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week,hours
21,2017-02-01 08:49:24,2017-02-01 09:06:49,1045,Clinton St & 18th St,Clinton St & Washington Blvd,Subscriber,Female,1985.0,2,3,8
25,2017-02-08 17:33:43,2017-02-08 17:38:57,314,Wabash Ave & 16th St,Wabash Ave & Roosevelt Rd,Subscriber,Female,1984.0,2,3,17
35,2017-02-08 12:05:53,2017-02-08 12:12:52,419,Franklin St & Lake St,Larrabee St & Kingsbury St,Subscriber,Male,1982.0,2,3,12
57,2017-02-22 23:14:41,2017-02-22 23:29:20,879,Michigan Ave & 18th St,Emerald Ave & 31st St,Subscriber,Male,1997.0,2,3,23
81,2017-02-01 07:27:29,2017-02-01 07:31:51,262,Halsted St & Roscoe St,Wilton Ave & Belmont Ave,Subscriber,Female,1993.0,2,3,7

显示最热门的站点及旅程的统计 **station_stats方法**

In [34]:
popular_start = df['Start Station'].mode()
popular_end = df['End Station'].mode()
popular_group_startEnd = (df['Start Station'] + ' to ' + df['End Station']).mode()

In [35]:
popular_start

0    Franklin St & Lake St
dtype: object

In [36]:
popular_end

0     Clinton St & Washington Blvd
1          Damen Ave & Division St
2        Desplaines St & Kinzie St
3            Emerald Ave & 31st St
4          Franklin St & Quincy St
5           Green St & Randolph St
6           Kingsbury St & Erie St
7       Larrabee St & Kingsbury St
8        Wabash Ave & Roosevelt Rd
9      Western Ave & Winnebago Ave
10        Wilton Ave & Belmont Ave
dtype: object

In [37]:
popular_group_startEnd

0     Campbell Ave & Fullerton Ave to Western Ave & ...
1     Clinton St & 18th St to Clinton St & Washingto...
2       Franklin St & Lake St to Kingsbury St & Erie St
3     Franklin St & Lake St to Larrabee St & Kingsbu...
4     Halsted St & Roscoe St to Wilton Ave & Belmont...
5      LaSalle St & Adams St to Damen Ave & Division St
6       Michigan Ave & 18th St to Emerald Ave & 31st St
7     Michigan Ave & Pearson St to Desplaines St & K...
8     Orleans St & Merchandise Mart Plaza to Green S...
9       Rush St & Hubbard St to Franklin St & Quincy St
10    Wabash Ave & 16th St to Wabash Ave & Roosevelt Rd
dtype: object

In [ ]:
def time_stats(df):
    """Displays statistics on the most frequent times of travel.
        显示最频繁的旅行时间的统计数据
    """

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()
    # 使用df.mode()的方式获取众数（出现频率最高的）
    # TO DO: display the most common month
    popular_month = df['month'].mode()
    # TO DO: display the most common day of week
    popular_day_of_week = df['day_of_week'].mode()

    # TO DO: display the most common start hour
    popular_hour = df['hours'].mode()

    print('month的众数为:%s' % popular_month)
    print('day_of_week的众数为:%s' % popular_day_of_week)
    print('hour的众数为:%s' % popular_hour)
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [ ]:
def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()


    # TO DO: display most commonly used start station
    popular_start = df['Start Station'].mode()
    print('起始站的众数为:%s' % popular_start)
    # TO DO: display most commonly used end station
    popular_end = df['End Station'].mode()
    print('起始站的众数为:%s' % popular_end)
    # TO DO: display most frequent combination of start station and end station trip
    
    # popular_start = df['Start Station'].mode()
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [ ]:
def trip_duration_stats(df):
    """
        Displays statistics on the total and average trip duration.
        显示总体和平均旅行持续时间的统计数据
    """

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # TO DO: display total travel time

    # TO DO: display mean travel time

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [ ]:
def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # TO DO: Display counts of user types

    # TO DO: Display counts of gender

    # TO DO: Display earliest, most recent, and most common year of birth

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [ ]:
def main():
    while True:
        

        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df)

        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() != 'yes':
            break

In [ ]:
if __name__ == "__main__":
    main()